{% extends "layout.html" %}

{% block head %}
{{ super() }}
<style>
i { 
  font-size:85%; 
}
table.colornavigation a { 
  text-decoration: underline !important; 
}

.tltip {
  position: relative;
  display: inline-block;
  font-style: italic;
  font-size:80%;
  color: #2B547E;
  border-bottom: 1px dotted black;
}

/* Tooltip text */
.tltip .tltiptext {
  visibility: hidden;
  width: 300px;
  background-color: #ffffcc;
  font-style: normal;
  color: black;
  padding: 5px;
  border-radius: 4px; 
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tltip:hover .tltiptext {
  visibility: visible;
}
</style>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


{% endblock %}

{% block content %}
{% block before_accordion %}
{% endblock %}

<div class="panel-group" id="accordion">

{% for item in jsonTopics %}
<div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title">
<a data-toggle="collapse" 
data-parent="#accordion" href="#collapse{{item.itemNum}}">Week {{item.itemNum}}: {{item.title}}</a>
</h4>
</div>
<div id="collapse{{item.itemNum}}" class="panel-collapse collapse">
<div class="panel-body">
{{item.description}}
{% for link in item.links %}
{% if link.topic %}
<h2 style="font-size:120%; margin:2px;color:#2B65EC;text-decoration: underline;">{{link.topic}} {{link.title}}</h2> 
{% else %}
<b>{{link.id}} {{link.title}}</b> 
<span class="tltip">Description <img style="vertical-align: middle;" 
src="{{ url_for('static', filename='blue_question_mark.png') }}" width="12px"/>
<span class="tltiptext">{{link.description}}</span>
</span><br/>
{% if link.readings or link.videos %}
{% if link.readings %}
{% for reading in link.readings %}
<a class="tltip" href="{{reading.url}}">{{reading.ref}}<span class="tltiptext">{{reading.title}}</span></a>
{% endfor %}
{% endif %}
{% if link.videos %}
&nbsp;<img style="vertical-align: middle;" 
src="{{ url_for('static', filename='video_icon.png') }}" width="20px"/>
{% for video in link.videos %}
<a class="tltip" href="{{video.url}}">{{video.ref}}<span class="tltiptext">{{video.title}}</span></a>
{% endfor %}
{% endif %}
<br/> {% endif %}
{% for task in link.tasks %}
{{link.id}}.{{loop.index}}. {{task.title}} 
{% if task.description == 'NA' %} {% else %} <span class="tltip"><img style="vertical-align: middle;" 
src="{{ url_for('static', filename='blue_question_mark.png') }}" width="12px"/>
<span class="tltiptext">{{task.description}}</span>
</span> 
{% endif %}
{% if task.subtasks or task.examples or task.maths %}
<ol type="a" style="margin-top: 0px; margin-bottom: 0px; font-size:80%">
{% for subtask in task.maths %}
<li style="color:#B00000;">{{subtask.title}}</li> 
{% endfor %}
{% for subtask in task.subtasks %}
<li style="color:black;">{{subtask.title}}</li>
{% endfor %}
{% for subtask in task.examples %}
<li style="color:blue">{{subtask.title}}</li>
{% endfor %}
</ol>
{% else %} <br/>
{% endif %}
{% endfor %}
{% endif %}  <!-- link.topic -->
{% endfor %}
</div>
</div>
</div>
{% endfor %}
</div>

{% block after_accordion %}
{% endblock %}

{% endblock %}

</body>
</html>

