<!doctype html>
<html>
<head>
{% block head %}
<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>

<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
  <![endif]-->

<title>{% block title %}{% endblock %}</title>
{% endblock %}
<link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">
</head>

<body>

<h1>{% for item in nav_items %}{% if item.subdir == course %}{{item.title}}{% endif %}{% endfor %}: {% block h1 %}{% endblock %}</h1>

<table border="0" cellspacing="2">
<tr style="font-size:120%">
{% for item in nav_items %}
{% if item.subdir == course %}
{% for page in item.pages %}
{% if page.link == my_id %}
<td style="background-color:{{page.color}};color:white;padding:2px 10px 2px 10px"><b>{{page.shortName}}</b></td>
{% else %}
<td style="background-color:{{page.color}};color:white;padding:2px 10px 2px 10px"><a style="color:white" href="{{page.link}}">{{page.shortName}}</a></td>
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
<td>
<select ONCHANGE="location = this.options[this.selectedIndex].value;">
{% for item in nav_items %}
{% if item.subdir == course %}
    <option value="../{{item.subdir}}/index" selected="selected">{{item.title}}</option>
{% else %}
    <option value="../{{item.subdir}}/index">{{item.title}}</option> 
{% endif %}
{% endfor %}
</select>
</td>
</tr>
</table>

{% block content %}{% endblock %}

</body>
</html>

