<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/> 
<link rel="stylesheet" type="text/css" href="../style/style.css"/>
<title>{{title}}</title>
</head>

<body>
<h1>{{title}}</h1>


<table border="0" cellspacing="2">
<tr style="font-size:120%">
<td style="background-color:#de6745;color:white;padding:2px 10px 2px 10px"><b>Uz sākumu</b></td>
<td style="background-color:#f1a72c;color:white;padding:2px 10px 2px 10px"><a style="color:white" href="../problembase/problems.html">Uzdevumi</a></td>
<td style="background-color:#40ce7c;color:white;padding:2px 10px 2px 10px"><a style="color:white" href="../problembase/tasks.html">Prasmes</a></td>
<td style="background-color:#4ca7dc;color:white;padding:2px 10px 2px 10px"><a style="color:white" href="../problembase/reports.html">Pārskati</a></td>
<td style="background-color:#9e69af;color:white;padding:2px 10px 2px 10px"><a style="color:white" href="../problembase/references.html">Norādes</a></td>
<td>
<select ONCHANGE="location = this.options[this.selectedIndex].value;">
{% for item in nav_items %}
{% if item.subdir == course %}
    <option value="../{{item.subdir}}/index.html" selected="selected">{{item.title}}</option>
{% else %}
    <option value="../{{item.subdir}}/index.html">{{item.title}}</option> 
{% endif %}
{% endfor %}
</select>
</td>
</tr>
</table>

<p>Olimpiāžu uzdevumi (skaitļu teorijā) no Baltijas u.c. valstu olimpiādēm 
ir gan praktiskai risināšanai, gan arī meta-analīzei domāta datu kopa. 
<a href="../problembase-bin/NumTheoryProblems.pdf">Number Theory Problems – 
Differences by Grade</a> 
kurā izskaidroti šīs uzdevumu datubāzes lauki un statistika par tiem.</p>

<p>Olimpiāžu skaitļu teorijas uzdevumus dalām 3 lielās kategorijās:
(A) 4.-6.klašu (vai dažu izklaidējošas matemātikas mīklu) uzdevumi; 
(B) 7.-12.klašu skaitļu teorijas uzdevumi, kas piedāvāti 
reģionālās vai, piemēram, Latvijas, Lietuvas un Igaunijas
nacionālajās sacensībās. (C) Latvijas u.c. valstu atlases sacensības
un dažādu starptautisku konkursu (IMO, BW, EGMO) uzdevumi.</p>

<p>"Pavisam mazo" (4.-6.kl.) bērnu un arī izklaidējošās matemātikas
uzdevumu mūsu datubāzē praktiski nav. Novadu un atklātā olimpiāde gan 
notiek 5. un 6. klasēm; bet 4.klasēm notiek konkurss "Tik vai cik" - tomēr
šos uzdevumus neesam te apkopojuši. Visvairāk ir 7.-12.klašu nacionālo 
olimpiāžu uzdevumu, ir arī starptautiska līmeņa konkursu uzdevumi, kas
mēdz būt vēl sarežģītāki.</p>



</body>

</html>