<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/> 
<link rel="stylesheet" type="text/css" href="../style/style.css"/>
<title>{{title}}</title>
</head>

<body>
<h1>{{title}}</h1>

<table border="0" cellspacing="2">
<tr style="font-size:120%">
<td style="background-color:#de6745;color:white;padding:2px 10px 2px 10px"><a style="color:white" href="../problembase/index.html">Uz sākumu</a></td>
<td style="background-color:#f1a72c;color:white;padding:2px 10px 2px 10px"><b>Uzdevumi</b></td>
<td style="background-color:#40ce7c;color:white;padding:2px 10px 2px 10px"><a style="color:white" href="../problembase/tasks.html">Prasmes</a></td>
<td style="background-color:#4ca7dc;color:white;padding:2px 10px 2px 10px"><a style="color:white" href="../problembase/reports.html">Pārskati</a></td>
<td style="background-color:#9e69af;color:white;padding:2px 10px 2px 10px"><a style="color:white" href="../problembase/references.html">Norādes</a></td>
<td>
<select ONCHANGE="location = this.options[this.selectedIndex].value;">
{% for item in nav_items %}
{% if item.subdir == course %}
    <option value="../{{item.subdir}}/index.html" selected="selected">{{item.title}}</option>
{% else %}
    <option value="../{{item.subdir}}/index.html">{{item.title}}</option> 
{% endif %}
{% endfor %}
</select>
</td>
</tr>
</table>

<a href="https://github.com/hakimel/reveal.js/wiki/Keyboard-Shortcuts">Speciālās
komandas prezentācijās</a>: <b>F</b> - pilnekrāna režīms; 
<b>Esc</b> - pārskats; <b>Home</b> - uz sākumu; <b>End</b> - uz beigām. 


<ul style="margin:3px;">
{% for comp in lst_comp %}
<li><a href="../problembase-tales/{{comp.dir}}/content.html">{{comp.id}}: {{comp.title}}</a> 
({{comp.total}} - anotēti {{comp.marked}})</li></li>
{% endfor %}
</ul>

<p style="font-size:120%; margin: 0px"><b>Kopsavilkums</b></p>

<ul style="margin:3px;">
<li>Uzdevumi kopā: {{prb_total}}. Jau anotēti ar prasmēm: {{prb_marked}}</li>
<li>Prasmju skaits: {{total_tasks}}, no tām izmantotas anotācijās: {{used_tasks}}</li>
<li>Prasmju kokā neesošas, kļūdaini anotētas prasmes: {{nfound_tasks}}</li>
<li>Uzdevumu-prasmju marķējumu kopskaits: {{markings_size}}</li>
</ul>


</body>

</html>