<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
<link rel="stylesheet" type="text/css" href="../style/style.css"/>

</head>

<body>
<h1>{{title}}</h1>

<table border="0" cellspacing="2">
<tr style="font-size:120%">
<td style="background-color:#de6745;color:white;padding:2px 10px 2px 10px"><a style="color:white" href="../problembase/index.html">Uz sākumu</a></td>
<td style="background-color:#f1a72c;color:white;padding:2px 10px 2px 10px"><a style="color:white" href="../problembase/problems.html">Uzdevumi</a></td>
<td style="background-color:#40ce7c;color:white;padding:2px 10px 2px 10px"><a style="color:white" href="../problembase/tasks.html">Prasmes</a></td>
<td style="background-color:#4ca7dc;color:white;padding:2px 10px 2px 10px"><a style="color:white" href="../problembase/reports.html">Pārskati</a></td>
<td style="background-color:#9e69af;color:white;padding:2px 10px 2px 10px"><b>Norādes</b></td>
<td>
<select ONCHANGE="location = this.options[this.selectedIndex].value;">
{% for item in nav_items %}
{% if item.subdir == course %}
    <option value="../{{item.subdir}}/index.html" selected="selected">{{item.title}}</option>
{% else %}
    <option value="../{{item.subdir}}/index.html">{{item.title}}</option> 
{% endif %}
{% endfor %}
</select>
</td>
</tr>
</table>

<ul>
<li><a href="https://artofproblemsolving.com/community/c14_international_contests">Art of Problem Solving:
International Contests</a> - forums, kur risināti IMO, IMO īso sarakstu, Baltijas ceļa, 
EGMO uzdevumu komplekti</li>
<li><a href="https://artofproblemsolving.com/community/c58_national_olympiads">Art of Problem Solving: 
National Olympiads</a> - Ķīnas u.c. valstu sacensību uzdevumi</li>
<li><a href="http://nms.lu.lv/uzdevumu-arhivs/latvijas-olimpiades/">NMS arhīvs</a> - Latvijas 
nacionālās olimpiādes</li>
<li><a href="http://www.math.olympiaadid.ut.ee/html/index.php?id=piirk">Igaunijas žūrijas arhīvs</a> - 
Uzdevumu teksti igauņu un krievu valodās. 
Piirkonnavoorud (reģionu kārta), Lõppvoorud (gala/nacionālā kārta), 
Lahtised võistlused (rudens un ziemas atklātie konkursi), 
Valikvõistlused (atlases sacensības).</li>
<li><a href="http://mif.vu.lt/matematikos-olimpiados/">Lietuvas olimpiāžu uzdevumu arhīvs</a> - Uzdevumu 
teksti lietuviešu valodā.</li>
<li><a href="https://brilliant.org/">https://brilliant.org/</a> - tiešsaistes kursi Brilliant</li>
<li><a href="http://www.cut-the-knot.org/">http://www.cut-the-knot.org/</a> - dažas 
olimpiāžu matemātikas tēmas
<li><a href="https://nrich.maths.org/">https://nrich.maths.org/</a> -  
tēmas dažādu vecuma grupu bērniem un vecākiem</li>
</ul>



</html>
