<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/> 
<link rel="stylesheet" type="text/css" href="../style/style.css"/>
<title>{{title}}</title>
</head>

<body>
<h1>{{title}}</h1>


<table border="0" cellspacing="2">
<tr style="font-size:120%">
<td style="background-color:#de6745;color:white;padding:2px 10px 2px 10px"><a style="color:white" href="../problembase/index.html">Uz sākumu</a></td>
<td style="background-color:#f1a72c;color:white;padding:2px 10px 2px 10px"><a style="color:white" href="../problembase/problems.html">Uzdevumi</a></td>
<td style="background-color:#40ce7c;color:white;padding:2px 10px 2px 10px"><a style="color:white" href="../problembase/tasks.html">Prasmes</a></td>
<td style="background-color:#4ca7dc;color:white;padding:2px 10px 2px 10px"><b>Pārskati</b></td>
<td style="background-color:#9e69af;color:white;padding:2px 10px 2px 10px"><a style="color:white" href="../problembase/references.html">Norādes</a></td>
<td>
<select ONCHANGE="location = this.options[this.selectedIndex].value;">
{% for item in nav_items %}
{% if item.subdir == course %}
    <option value="../{{item.subdir}}/index.html" selected="selected">{{item.title}}</option>
{% else %}
    <option value="../{{item.subdir}}/index.html">{{item.title}}</option> 
{% endif %}
{% endfor %}
</select>
</td>
</tr>
</table>

<p style="font-size:120%; margin: 0px; margin-top: 5px"><b>Reports on Baltic Olympiad problems</b></p>

<ul style="margin:3px;">
<li><a href="../problembase/reports-taskgroups.html">Task groups</a></li>
<li><a href="../problembase/reports-qtypes.html">Problems summarized by question type</a></li>
<li><a href="../problembase/reports-concepts/default">Problems summarized by concepts used in their formulation</li>
</ul>




</body>

</html>