<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
<link rel="stylesheet" type="text/css" href="../style/style.css"/>
<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
  <![endif]-->
<title>{{title}}</title>
</head>

<body>
<h1>{{title}}</h1>


<table border="0" cellspacing="2">
<tr style="font-size:120%">
<td style="background-color:#de6745;color:white;padding:2px 10px 2px 10px"><a style="color:white" href="../problembase/index.html">Uz sākumu</a></td>
<td style="background-color:#f1a72c;color:white;padding:2px 10px 2px 10px"><a style="color:white" href="../problembase/problems.html">Uzdevumi</a></td>
<td style="background-color:#40ce7c;color:white;padding:2px 10px 2px 10px"><b>Prasmes</b></td>
<td style="background-color:#4ca7dc;color:white;padding:2px 10px 2px 10px"><a style="color:white" href="../problembase/reports.html">Pārskati</a></td>
<td style="background-color:#9e69af;color:white;padding:2px 10px 2px 10px"><a style="color:white" href="../problembase/references.html">Norādes</a></td>
<td>
<select ONCHANGE="location = this.options[this.selectedIndex].value;">
   <option value="../numtheory/index.html">Skaitļu teorija</option>
   <option value="../algorithms/index.html">Lietišķie algoritmi</option>
   <option value="../visualizations/index.html">Vizualizācijas</option>
   <option value="../problembase/index.html" selected="selected">Uzdevumu DB</option>
</select>
</td>
</tr>
</table>


<table class="tasks">
<colgroup>
<col class="aaa">
<col class="bbb">
<col class="ccc">
</colgroup><tbody>
<tr><th>Prasmes kods</th><th>Apraksts</th><th>Piemēri</th></tr>
{% for task in lst_tasks %}
<tr class="{{ loop.cycle('odd', 'even') }}">
<td><code>{{task.levels|join('.')}}{{task.whitespace}}</code>{{task.id}}</td>
<td>{{task.esc_desc}}</td>
<td>{{task.html_links}}</td>
</tr>
{% endfor %}
</table>



<p style="font-size:120%"><b>Prasmes anotācijās, kuru nav prasmju kokā</b></p>

<table class="tasks">
<tr><th>Prasmes kods</th><th>Piemēri</th></tr>
{% for nfound in nfound_lst %}
<tr class="{{ loop.cycle('odd', 'even') }}"><td>{{nfound.id}}</td><td>{{nfound.html_links}}</td></tr>
{% endfor %}
</table>


</html>

