# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.project
.settings
.pydevproject
problems-bak/*
*.bak
.Rhistory
*.aux
*.log
*.out
*.bcf
*.glob
*.run.xml
# Distribution / packaging
.Python
build/
#dist/
downloads/
!webstatic/songs/downloads

# lib/
lib64/
# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# PyBuilder
target/

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


### Ignore copied/dependent directories
algorithms-tales/
data-structures-tales/
reveal.js/
reveal.js.40.bak/


webflask/venv/
*.pyc
webflask/__pycache__/
webflask/instance/
webflask/.pytest_cache/
webflask/.coverage
webflask/htmlcov/
webflask/dist/
webflask/build/
webflask/*.egg-info/
.idea/

# Sphinx
**/_build/*


# Ignore CMake stuff
data-structures-fall2021/walk-throughs/*/*.dir/
data-structures-fall2021/walk-throughs/*/cmake_install.cmake
data-structures-fall2021/walk-throughs/*/CMakeCache.txt
data-structures-fall2021/walk-throughs/*/*.sln
data-structures-fall2021/walk-throughs/*/*.filters
data-structures-fall2021/walk-throughs/*/*.vcxproj
data-structures-fall2021/walk-throughs/*/x64/
data-structures-fall2021/walk-throughs/*/CMakeFiles/
data-structures-fall2021/walk-throughs/*/Release/
