{% extends "layout.html" %}

{% block title %}Aktuāli testi{% endblock %}

{% block content %}





<h2>2021.gada sacensības</h2>

<p style="font-size:80%">Sacensības var būt īpaši noderīgas NMS Izlases Nodarbību
  tēmu nostiprināšanai. Arhīvā galvenokārt skaitļu teorijas tēmas, bet plānojam arī citas.
  Pagaidām nav paredzēta funkcionalitāte, lai
  arhivētos testus varētu kārtot pēc sacensību dienas. To ceram drīz nodrošināt.</p>



<table class="exam-archive" border="1" cellspacing="0">
<tr>
<th>Datums</th>
<th>Jautājumi un atbildes</th>
<th>Gatavošanās materiāli</th>
</tr>
<tr>
<th>2021-02-18</th>
</td>
<td><b>2021#1:</b> Dalāmība un pirmskaitļi<br/>
<a href="/training/nms-numtheory/onlinetests/online-competition-2021-02-18.pdf">Jautājumi</a><br/>
<a href="/training/nms-numtheory/onlinetests/online-competition-2021-02-18-solution.pdf">Testa atbildes/analīze</a>
</td>
<td>&nbsp;</td>
</tr>
<tr>
<th>2021-03-04</th>
<td><b>2021#2:</b> Modulārā aritmētika<br/>
<a href="/training/nms-numtheory/onlinetests/online-competition-2021-03-04.pdf">Jautājumi</a><br/>
<a href="/training/nms-numtheory/onlinetests/online-competition-2021-03-04-solution.pdf">Testa atbildes/analīze</a>
</td>
<td>
<a href="https://youtu.be/lJ3CD9M3nEQ">YouTube:  Modular Arithmetic Visually Explained</a>
</td>
</tr>
<tr>
<th>2021-03-25</th>
<td><b>2021#3:</b> Decimālpieraksts<br/>
<a href="/training/nms-numtheory/onlinetests/online-competition-2021-03-25.pdf">Jautājumi</a><br/>
<a href="/training/nms-numtheory/onlinetests/online-competition-2021-03-25-solution.pdf">Testa atbildes/analīze</a>
</td>
<td>&nbsp;</td>
</tr>

<tr>
<th>2021-04-08</th>
<td><b>2021#4:</b> Racionāli, iracionāli skaitļi<br/>
<a href="/training/nms-numtheory/onlinetests/online-competition-2021-04-08.pdf">Jautājumi</a><br/>
<a href="/training/nms-numtheory/onlinetests/online-competition-2021-04-08-solution.pdf">Testa atbildes/analīze</a>
</td>
<td>
    <a href="https://youtu.be/L1Qq8TsDUW8">YouTube: Apakšējās/augšējās veselās daļas īpašības</a><br/>
    <a href="https://youtu.be/0NMj246ideQ">YouTube: Sinusu/kosinusu saistība ar kvadrātsaknēm</a><br/>
    <a href="https://youtu.be/BQdcCTwldzA">YouTube: Sakņu un logaritmu iracionalitātes pierādījumi</a><br/>
    <a href="https://youtu.be/CaasbfdJdJg">YouTube: Ķēžu daļas dažiem iracionāliem skaitļiem</a><br/>
    <a href="https://youtu.be/p7mpY-uOV-Q">YouTube: Rekurenti virkņu izteikšana ar "iracionālām" izteiksmēm</a>
</td>
</tr>

<tr>
<th>2021-04-29</th>
<td><b>2021#5:</b> Dažādi par skaitļu teoriju (noslēgums)<br/>
<a href="/training/nms-numtheory/onlinetests/online-competition-2021-04-29.pdf">Jautājumi</a><br/>
<a href="/training/nms-numtheory/onlinetests/online-competition-2021-04-29-solution.pdf">Testa atbildes/analīze</a>
</td>
<td>
&nbsp;
</td>
</tr>

</table>

<!--
<p style="font-size:140%">Lūdzam
<a style="color:hotpink;text-decoration:underline;" href="https://docs.google.com/forms/d/e/1FAIpQLSes9RZ9SY20uRNGQNoYa8crF7a9sLgMH5ErmQsQNBgDk4RtbQ/viewform?usp=sf_link">aizpildīt aptauju</a>
Jūsu atsauksmēm un ierosinājumiem par šiem testiem.</p>
-->



{% endblock %}


