{% extends "layout.html" %}

{% block title %}Sākums{% endblock %}

{% block content %}

<p>Te apkopoti olimpiāžu matemātikas testi ar "īso atbilžu" jautājumiem.
    Šo sacensību formātu iedvesmojis
    <a href="https://artofproblemsolving.com/wiki/index.php/American_Invitational_Mathematics_Examination">AIME</a>
    konkurss un arī <a href="http://www.math.olympiaadid.ut.ee/html/index.php?id=piirk">Igaunijas olimpiāžu testu sadaļas</a>.
    Šīs sacensības nekopē nevienu no šiem formātiem, bet uzdevumu žanrs ir līdzīgs.
    Testus sakārtojam atbilstoši klašu grupām un tēmām, kas parasti parādās
    Latvijas Atklātajā matemātikas olimpiādē
    (5.-6.klases; 7.-9.klases, 10.-12.klases).
    Dažiem testiem jau pirms pašām sacensībām norādīts teorijas materiāls, ar kuru
    vēlams iepazīties.</p>

<p>Vienā sacensību komplektā ir 12 uzdevumi, katrā no tiem jāieraksta atbilde.
    Sacensību uzdevumus var aplūkot jebkurā secībā,
    bet jautājumus var iesūtīt tikai visus reizē.
    Koprezultātu (iespējams, neprecīzu) var uzzināt uzreiz, bet detalizētos vērtējumus un
    jautājumu analīzi - tikai pēc tam, kad sacensības visiem beigušās.
    Lai pieteiktos, Jums nepieciešama derīga epasta adrese.</p>

<!--,  sava skola un klase/kurss (vai arī vecums un pastāvīgā dzīvesvieta, ja skolā nemācāties).-->
<p>Labu veiksmi risināšanā!</p>

{% endblock %}



