{% extends "layout_topics.html" %}

{% block title %}Sākumlapa{% endblock %}

{% block before_accordion %}

<div style="text-align:center; font-size:150%; color:gray">
Patīk atjautības uzdevumi?<br/>
Nāc uz olimpiāžu matemātikas nodarbībām 7.-8.klasēm!    
</div>

<p>
    <i>Kas mēs esam?</i> 
    Ģimnāzija ir skola ar mācību stundām un arī vide, kur kopā ar citiem 
    izzināt pasauli un izmēģināt spēkus sacensībās. Matemātika ļauj saprasties 
    zinātnē un tehnoloģijās, grāmatvedībā un naudas lietās, psiholoģijā un medicīnā. 
    Olimpiāžu matemātika papildus izmanto mūsdienu pētnieku izdomāto, 
    vingrina spēju meklēt un atrast neparastus risinājumus.
</p>

<p>
    <i>Ko mēs darām?</i> Olimpiādēs risinājumi jāpierāda, 
    un arī pulciņā to darīsim. Pierādīšana prasa uzmanīgi 
    lasīt uzdevumu un tad saviem vārdiem rakstīt pamatojumu. 
    Pierādījumos rodas jaunas zināšanas - var ne tikai lietot zināmas formulas, 
    bet arī izgudrot jaunas.
</p>

<p>
    <i>Ko Tu iegūsi?</i> Spēju labi rakstīt un secināt, kas noder dažādām 
    profesijām un dzīves mērķiem. Prasmi atpazīt viltus ziņas, ja tur ir 
    loģikas kļūdas. Spēju domāt radoši, pamatot viedokli, izcelt būtisko 
    un vienkāršot sarežģīto. Tu iepazīsi skolēnus ar līdzīgām interesēm, 
    gūsi jaunus draugus, paplašināsi redzesloku. 
    <i>Vai dalībai pulciņā matemātikas atzīmes ir svarīgas?</i> Nē, nav. 
    Skolas kursa zināšanas reizēm noder olimpiādēs, bet tām nepieciešamo var ātri apgūt.
</p>

<p>
Mūs var sastapt Trešdienās no 12:45 līdz 15:00, Lavīzes ielā 2A, Aktu zālē (vai citā vietā, 
ja nodarbības vietu nāksies mainīt).<br/>
Mājaslapa: <a href='https://www.dudajevagatve.lv/courses/'>https://www.dudajevagatve.lv/courses/</a>. 
</p>

{% endblock %}

