{% extends "layout_topics.html" %}

{% block title %}Sākumlapa{% endblock %}

{% block before_accordion %}



<div style="font-size:120%; font-weight:bold;">
    &#x2022; Izziņota "Atvērtās kopas" komandu olimpiāde
</div>

<p>Ar prieku izziņojam, ka pēc 4 gadu pārtraukuma atkal norisināsies matemātikas komandu olimpiāde "Atvērtā kopa"!
Šogad, tāpat kā iepriekš, būs 2 kārtas (atlases un fināla). Uz finālu tiks aicinātas 6 komandas katrā no 6 
klašu grupām (7.-12.). Komandas sastāv no 3 līdz 5 dalībniekiem.
Tie drīkst būt no dažādām klašu grupām un skolām. Komandas uzdevumu komplektu nosaka augstākā klase komandā.
Pieteikšanās anketa (<a href="https://atvertakopa.lv/piesakies/">https://atvertakopa.lv/piesakies/</a>) 
ir atvērta līdz 27. oktobrim.</p>

<p><b style="color:red">Piebilde:</b> Vairākus gadus "Atvērto kopu" organizēja datorikas fakultātes studenti, 
    agrāko gadu olimpiāžu laureāti. Mini-intervija ar vienu no organizatorēm 
    <a href="https://www.fonds.lv/lepojamies/stipendiati/20192020-akad-gads/galenieku-gimenes-stipendija/eliza-gaile/">Elīzu Gaili</a>.
</p>

<div style="font-size:120%;  font-weight:bold;">
    &#x2022; Nāc uz olimpiāžu matemātikas nodarbībām 7.-8.klasēm!    
</div>

<p>
    <i>Kas mēs esam?</i> 
    Ģimnāzija ir skola ar mācību stundām un arī vide, kur kopā ar citiem 
    izzināt pasauli un izmēģināt spēkus sacensībās. Matemātika ļauj saprasties 
    zinātnē un tehnoloģijās, grāmatvedībā un naudas lietās, psiholoģijā un medicīnā. 
    Olimpiāžu matemātika papildus izmanto mūsdienu pētnieku izdomāto, 
    vingrina spēju meklēt un atrast neparastus risinājumus.
</p>

<p>
    <i>Ko mēs darām?</i> Olimpiādēs risinājumi jāpierāda, 
    un arī pulciņā to darīsim. Pierādīšana prasa uzmanīgi 
    lasīt uzdevumu un tad saviem vārdiem rakstīt pamatojumu. 
    Pierādījumos rodas jaunas zināšanas - var ne tikai lietot zināmas formulas, 
    bet arī izgudrot jaunas.
</p>

<p>
    <i>Ko Tu iegūsi?</i> Spēju labi rakstīt un secināt, kas noder dažādām 
    profesijām un dzīves mērķiem. Prasmi atpazīt viltus ziņas, ja tur ir 
    loģikas kļūdas. Spēju domāt radoši, pamatot viedokli, izcelt būtisko 
    un vienkāršot sarežģīto. Tu iepazīsi skolēnus ar līdzīgām interesēm, 
    gūsi jaunus draugus, paplašināsi redzesloku. 
    <i>Vai dalībai pulciņā matemātikas atzīmes ir svarīgas?</i> Nē, nav. 
    Skolas kursa zināšanas reizēm noder olimpiādēs, bet tām nepieciešamo var ātri apgūt.
</p>

<p>
Mūs var sastapt Trešdienās no 12:45 līdz 15:00, Lavīzes ielā 2A, Aktu zālē (vai citā vietā, 
ja nodarbības vietu nāksies mainīt).<br/>
Mājaslapa: <a href='https://www.dudajevagatve.lv/courses/'>https://www.dudajevagatve.lv/courses/</a>. 
</p>

<p><img src="../static/aPulcins/instructor.jpg" alt="Kalvis Apsītis" width="400px"></p>

{% endblock %}

