{% extends "layout.html" %}

{% block title %}Uzdevumu lapas{% endblock %}

{% block content %}

<div style="font-size:120%; font-weight:bold;">
  Pieslēgšanās vietnei "Socrative" 
</div>


Socrative publicē īso atbilžu tests par kārtējās nedēļas tēmu - pieejams līdz nākamajai 
nodarbībai. Testa iesūtīšanai lūdzam izmantot agrāk izsūtīto lietotāja vārdu 
ar 3-ciparu skaitlīti. Socrative pārbaudījums ir brīvprātīgs, bet ļoti ieteicams, 
lai labāk iegaumētu materiālu.

<ul>
  <li>Pieslēgties <a href="https://www.socrative.com/">https://www.socrative.com/</a></li>
  <li>Spiest pogu <b>Login</b> un <b>Student Login</b></li>
  <li>Ierakstīt "Room name" = APSITIS</li>
  <li>Nākamajā ekrānā ierakstīt savu vārdu, aiz kura ir 3-ciparu kods</li>
  <li>Sekos tests ar 10 jautājumiem, kur jāieraksta īsas atbildes. 
    (Ja atbilde ierakstīta pareizi, bet cits variants nekā domājuši testa veidotāji, 
    centīsimies atjaunot par to punktus.)
  </li>
  <li>Rezultātus publicēsim atbilstoši šiem 3-ciparu kodiem (nenorādot vārdus). 
    Čaklākajiem risinātājiem izteiksim pateicību.
  </li>
</ul>

<div style="font-size:120%; font-weight:bold;">
Tēmu saraksts
</div>

<table border="1" cellspacing="0" style="margin-bottom:10px;">
    <tr>
      <th>Datums</th>
      <th>Tēma</th>
      <th>Atrisinājumi</th>
      <th>Testi</th>
    </tr>
    <tr>
      <td>2024-10-09</td>
      <td><a href="../static/aPulcins/class01-expressions.pdf">Izteiksmes un invarianti</a></td>
      <td><a href="../static/aPulcins/class01-expressions-solutions.pdf">Atrisinājumi</a></td>
      <td><a href="../static/aPulcins/lv-avgtest-2024a-expressions.pdf">Tests 2024a: Izteiksmes</a>; 
        <a href="../static/aPulcins/lv-avgtest-2024a-expressions-solved.pdf">Atrisinājumi</a></td>
    </tr>
    <tr>
      <td>2024-10-16</td>
      <td><a href="../static/aPulcins/class02-angles.pdf">Trijstūri un leņķi</a></td>
      <td><a href="../static/aPulcins/class02-angles-solutions.pdf">Atrisinājumi</a>; 
        <span class="video-link"><a href="https://youtu.be/Cvqr2NmFX94?si=fw_q2fXabq4GZQqf">LV.AMO.2013.8.4</a></span>.</td>
      <td><a href="../static/aPulcins/lv-avgtest-2024b-angles.pdf">Tests 2024b: Leņķi</a>; 
        <a href="../static/aPulcins/lv-avgtest-2024b-angles-solved.pdf">Atrisinājumi</a></td>
    </tr>
    <tr>
      <th colspan="4">Rudens brīvdienas</th>
    </tr>
    <tr>
      <td>2024-10-30</td>
      <td><a href="../static/aPulcins/class03-pigeonhole.pdf">Dirihlē princips</a></td>
      <td>Atrisinājumi tiks ievietoti; <a href="https://www.nms.lu.lv/fileadmin/user_upload/lu_portal/projekti/nms.lu.lv/Arhivs/Olimpiades/AMO/2020-2030/Teorija_AMO_2425_DirihlePrincips.pdf">NMS materiāls</a></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>2024-11-06</td>
      <td><a href="../static/aPulcins/class04-decimal-notation.pdf">Decimālpieraksts, dalāmības pazīmes</a></td>
      <td>TBD</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>2024-11-13</td>
      <td><a href="../static/aPulcins/class05-shapes-symmetry.pdf">Figūru simetrija un pārveidojumi</a></td>
      <td>N/A</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>2024-11-20</td>
      <td><a href="../static/aPulcins/lv-amo-2019-7-8.pdf">Olimpiāžu tēmu atkārtojums</a></td>
      <td>N/A</td>
      <td><a href="../static/aPulcins/lv-avgtest-2024c-pigeonhole.pdf">Tests 2024c: Dirihlē princips</a>; 
        <a href="../static/aPulcins/lv-avgtest-2024c-pigeonhole-solved.pdf">Atrisinājumi</a></td>
    </tr>
    <tr>
      <th colspan="4">Atklātā olimpiāde (2024-11-24)</th>
    </tr>
    <tr>
      <td>2024-11-27</td>
      <td><a href="../static/aPulcins/amo2024-problems.pdf">Atklātās olimpiādes 2024.g. uzdevumi 7. un 8.kl.</a></td>
      <td>N/A</td>
      <td><a href="../static/aPulcins/class07-olympiad-shortanswers.pdf">Tests par 2024.g. AMO tēmām</a></td>
    </tr>
    <tr>
      <td>2024-12-04</td>
      <td><a href="../static/aPulcins/class08-coloring.pdf">Grafi un krāsojumi</a></td>
      <td>N/A</td>
      <td>Aicinājums iesūtīt <a href="https://www.nms.lu.lv/konkursi/profesora-ciparina-klubs/2024/2025-macibu-gads/">P.Cipariņa 2.kārtas uzdevumus</a> līdz 6.decembrim.</td>
    </tr>
    <tr>
      <td>2024-12-11</td>
      <td><a href="../static/aPulcins/class09-topology.pdf">Topoloģija</a></td>
      <td>N/A</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>2024-12-18</td>
      <td style="background-color:#cccccc">Grafi</td>
      <td>N/A</td>
      <td>&nbsp;</td>
    </tr>
</table>


<h2>Līvānu 9.-11.klases materiāli</h2>

<a href="../static/aPulcins/pigeonhole-and-number-theory.pdf">Dirihlē princips un skaitļu teorija</a>

{% endblock %}
