{% extends "layout.html" %}

{% block title %}Uzdevumu lapas{% endblock %}

{% block content %}

<table border="1" cellspacing="0" style="margin-bottom:10px;">
    <tr>
      <th>Datums</th>
      <th>Tēma</th>
    </tr>
    <tr>
      <td>2024-10-09</td>
      <td><a href="../static/aPulcins/class01-expressions.pdf">Izteiksmes un invarianti</a></td>
    </tr>
    <tr>
      <td>2024-10-16</td>
      <td style="background-color:#cccccc">Trijstūri un leņķi</td>
    </tr>
    <tr>
      <th colspan="2">Rudens brīvdienas</th>
    </tr>
    <tr>
      <td>2024-10-30</td>
      <td style="background-color:#cccccc">Decimālpieraksts, dalāmības pazīmes</td>
    </tr>
    <tr>
      <td>2024-11-06</td>
      <td style="background-color:#cccccc">Figūru pārklāšana un izvietojumi</td>
    </tr>
    <tr>
      <td>2024-11-13</td>
      <td style="background-color:#cccccc">Dirihlē princips</td>
    </tr>
    <tr>
      <td>2024-11-20</td>
      <td style="background-color:#cccccc">Lineāras funkcijas</td>
    </tr>
    <tr>
      <th colspan="2">Atklātā olimpiāde (2024-11-24)</th>
    </tr>
    <tr>
      <td>2024-11-27</td>
      <td style="background-color:#cccccc">Pilnā pārlase</td>
    </tr>
    <tr>
      <td>2024-12-04</td>
      <td style="background-color:#cccccc">Virknes un atlikumi</td>
    </tr>
    <tr>
      <td>2024-12-11</td>
      <td style="background-color:#cccccc">Rūtiņu lapa</td>
    </tr>
    <tr>
      <td>2024-12-18</td>
      <td style="background-color:#cccccc">Grafi</td>
    </tr>
</table>

{% endblock %}
