<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
<link rel="stylesheet" type="text/css" href="../style/style.css"/>
<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
  <![endif]-->

</head>

<body>
<h1>Skaitļu teorija (juniori): Sākumlapa</h1>

<table border="0" cellspacing="2">
<tr style="font-size:120%">
<td style="background-color:#de6745;color:white;padding:2px 10px 2px 10px"><b>Sākums</b></td>
<td style="background-color:#f1a72c;color:white;padding:2px 10px 2px 10px"><a style="color:white" href="problems.html">Mājasdarbi</a></td>
<td style="background-color:#40ce7c;color:white;padding:2px 10px 2px 10px"><a style="color:white" href="slides.html">Prezentācijas</a></td>
<td style="background-color:#4ca7dc;color:white;padding:2px 10px 2px 10px"><a style="color:white" href="exams.html">Testi</a></td>
<td style="background-color:#9e69af;color:white;padding:2px 10px 2px 10px"><a style="color:white" href="references.html">Norādes</a></td>
<td>
<select ONCHANGE="location = this.options[this.selectedIndex].value;">
{% for item in nav_items %}
{% if item.subdir == course %}
    <option value="../{{item.subdir}}/index.html" selected="selected">{{item.title}}</option>
{% else %}
    <option value="../{{item.subdir}}/index.html">{{item.title}}</option> 
{% endif %}
{% endfor %}
</select>
</td>

</tr>
</table>

<p>Sk. <a href="http://nms.lu.lv/izlases-nodarbibas/">NMS nodarbību grafiku</a>.</p> 


<!--
<h2>0. nodarbība (Junioru un senioru ievadnodarbība)</h2>

<a href="../numtheory-tales/tale-numtheory-jun-intro/content.html">Ievadnodarbība (HTML)</a>
<br/>

<h2>1. junioru nodarbība (Laiks: <b>2019-09-28</b>)</h2>

<b>Pirmskaitļi un dalāmība:</b> Pamatot pirmskaitļu kopas bezgalīgumu, 
to noteikšanas algoritmu. Lietot aritmētikas pamatteorēmu. 
Izmantot apgalvojumus par LKD un MKD. Izmantot Eiklīda algoritmu skaitļiem un polinomiem.
<small>(Piemēri: BWTST.2018.14. BW.2016.2; BW.2016.11. BWTST.2015.13.)</small><br/>
<a href="../numtheory-tales/tale-numtheory-jun01-divisibility/content.html">Dalāmība (HTML)</a>
<br/>

<h2>2. junioru nodarbība (Laiks: <b>2019-12-14</b>)</h2>

<b>Ķīniešu atlikumu teorēma:</b> Lietot ķīniešu atlikumu teorēmu. 
Ieviest kongruenču sistēmas, kas apmierina uzdevuma nosacījumus, 
lai konstruētu (parasti ļoti lielus) skaitļus. 
<small>(Piemēri: IMO.2009.1; USAMO.2008.1; BW.2016.2.)</small><br/>
<a href="../numtheory-tales/tale-numtheory-jun03-crt/content.html">Ķīniešu 
atlikumu teorēma (HTML)</a>
<br/>





<h2>3. junioru nodarbība (Laiks: <b>2020-02-29</b>)</h2>

<b>Valuācijas:</b> Izmantot valuāciju (augstākā pirmskaitļa pakāpe, 
ar ko dalās skaitlis) īpašības. Izmantot kāpinātāja paaugstināšanas lemmas.
<small>(Piemēri: IMO.2019.4; BW.2015.16; BW.2015.17; CGMO.2012.8.)</small><br/> 
<a href="../numtheory-bin/slides/tale-numtheory-jun-valuations.pptx">Valuācijas (PPTX)</a>
<br/>


<h2>4. junioru nodarbība (Laiks: <b>2020-03-07</b>)</h2>

<b>Pārskata nodarbība:</b> Dažādi Valsts Olimpiādes 4.kārtas (Papildsacensību) uzdevumi.<br/>
<a href="../numtheory-bin/nt-cheat-sheet.pdf">LV.TST un Formulu Lapa</a>
<br/>



<h2>5. junioru nodarbība (Laiks: <b>2020-03-28</b>)</h2>

<b>Aritmētiskas funkcijas:</b> Definēt un lietot naturāla argumenta 
funkcijas ar naturālām vērtībām. Izmantot multiplikatīvu funkciju īpašības. 
Lietot dalītāju skaita funkciju; pirmreizinātāju skaita funkciju. 
Mēbiusa funkcija un Mēbiusa inversijas formula. 
<small>(Piemēri: IMOSHL.2018.N1; CGMO.2018.3.)</small><br/>


<h2>Citas tēmas (nebija šīgada junioru nodarbībās)</h2>

<b>Modulārā aritmētika:</b> Pamatot un aprēķināt izteiksmju 
kongruences pēc moduļa. Izmantot pretrunas moduli. Lietot Mazo Fermā un Eilera teorēmu. 
Noteikt, cik ātri atlikumos veidojas periodi.
<small>(Piemēri: BWTST.2018.13; CGMO.2019.5; IMO.2016.N3. BWTST.2016.16. BWTST.2016.17. BW.2016.5.)</small><br/>



<b>Algebriskie pārveidojumi:</b> Izmantot identitātes pakāpju 
summai un starpībai, Sofijas-Žermēnas identitāti. Aprēķināt kongruences 
saliktām izteiksmēm. Veikt pārveidojumus, ieskaitot garu summēšanu. 
Izmantot rekurenti definētu virkņu (Fibonači u.c.) īpašības.
<small>(Piemēri: IMOSHL.2018.N2; BW.2016.4; BW.TST.2018.3; CGMO.2019.2.)</small><br/>

<b>Polinomi ar veseliem koeficientiem:</b>  
Izmantot vienkāršus rezultātus par polinoma dalāmību. 
Izmantot racionālās saknes teorēmu (ja <span class="math inline">\(p/q\)</span> ir polinoma sakne, 
tad kurš koeficients dalās ar p un ar q). 
Izmantot Eizenšteina kritēriju. 
<small>(Piemēri: IMOSHL.2016.N1. IMOSHL.2009.N2; IMOSHL.2010.N3; IMOSHL.2011.N2.)</small><br/>




<b>Matemātiskā indukcija, novērojumu vispārināšana:</b> 
Izrakstīt ar uzdevuma nosacījumu saistītas skaitļu virknes, pamanīt likumsakarības virknēs, 
pamatot spriedumus ar matemātisko indukciju. 
<small>(Piemēri: IMOSHL.2018.N3; BWTST.2015.15.)</small><br/>

<b>Nevienādību un novērtējumu izmantošana:</b> Samazināt aplūkojamo 
variantu skaitu veselu skaitļu sakarībās, izmantojot nevienādības. 
<small>(Piemēri: IMOSHL.2017.N1; BW.TST.2018.16.)</small><br/>




<b>Diskrētās struktūras skaitļu teorijā:</b>
Izmantot ieslēgšanas/izslēgšanas principu. Izmantot Dirihlē principu. 
Izmantot grafus. Izmantot monotonu virkņu esamību, 
neierobežotās pazemināšanas metodi. 
<small>(Piemēri: IMO.SHL.2014.N6; IMOSHL.2017.N3; BW.TST.2016.6; BW.2016.11; CGMO.2015.4.)</small><br/>





<ul>
<li>TODO: Kādēļ veidojams mācību līdzeklis par 10.-12.kl. skaitļu teoriju</li>
<li>TODO: Projekta iekšējie standarti; kāda ir moduļa struktūra, kā to pieraksta</li>
</ul>
-->

</html>
