<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
<link rel="stylesheet" type="text/css" href="../style/style.css"/>

</head>

<body>
<h1>Skaitļu teorija (juniori): Lejupielādes</h1>

<table border="0" cellspacing="2">
<tr style="font-size:120%">
<td style="background-color:#de6745;color:white;padding:2px 10px 2px 10px"><a style="color:white" href="index.html">Sākums</a></td>
<td style="background-color:#f1a72c;color:white;padding:2px 10px 2px 10px"><b>Uzdevumi</b></td>
<td style="background-color:#40ce7c;color:white;padding:2px 10px 2px 10px"><a style="color:white" href="tales.html">Prezentācijas</a></td>
<td style="background-color:#4ca7dc;color:white;padding:2px 10px 2px 10px"><a style="color:white" href="exams.html">Aptaujas</a></td>
<td style="background-color:#9e69af;color:white;padding:2px 10px 2px 10px"><a style="color:white" href="references.html">Norādes</a></td>
<td>
<select ONCHANGE="location = this.options[this.selectedIndex].value;">
{% for item in nav_items %}
{% if item.subdir == course %}
    <option value="../{{item.subdir}}/index.html" selected="selected">{{item.title}}</option>
{% else %}
    <option value="../{{item.subdir}}/index.html">{{item.title}}</option> 
{% endif %}
{% endfor %}
</select>
</td>
</tr>
</table>

<p><b>2019./2020.m.g. uzdevumu lapas</b></p>

<ul>
<li><a href="../numtheory-bin/homeworks/hw01-divisibility-modular.pdf">Mājasdarbs #1</a> (nodarbība 2019-09-28)</li>
<li><a href="../numtheory-bin/homeworks/hw02-crt-and-valuations.pdf">Mājasdarbs #2</a> (nodarbība 2019-12-07)</li>
</ul>



<p><b>Vecākas uzdevumu lapas</b></p>

<ul>
<li><a href="../numtheory-bin/numtheory-prob-2019-06-10.pdf">Izlases vasaras nodarbību uzdevumi (2019-06-10)</a></li>
<li><a href="../numtheory-bin/numtheory-prob-2019-06-21.pdf">Izlases vasaras nodarbību uzdevumi (2019-06-21)</a></li>
<!--<li><a href="prob/bak-numtheory-imo-shl2/content.html">Prezentācija IMO.SHL 
(2014-2018)</a> (22)</li>-->
</ul>




</html>
