<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
<link rel="stylesheet" type="text/css" href="../style/style.css"/>
<style type="text/css">

table.schedule tbody.general td:first-child {
    background-color:#003366;
    color: white;
}


table.schedule tbody.lossless td:first-child {
    background-color:#1B9E77;
    color: white;
}

table.schedule tbody.lossy td:first-child {
    background-color: #D95F02;
    color: white;
}

table.schedule tbody.errors td:first-child {
    background-color: #7570B3;
    color: white;
}

table.schedule tbody.graphs td:first-child {
    background-color: #E7298A;
    color: white;
}

table.schedule tbody.linear td:first-child {
    background-color: #66A61E;
    color: white;
}

table.schedule tbody.strings td:first-child {
    background-color: #E6AB02;
    color: white;
}
</style>
</head>

<body>
<h1>Skaitļu teorija (juniori): Uzdevumi</h1>

<table border="0" cellspacing="2">
<tr style="font-size:120%">
<td style="background-color:#de6745;color:white;padding:2px 10px 2px 10px"><a style="color:white" href="index.html">Sākums</a></td>
<td style="background-color:#f1a72c;color:white;padding:2px 10px 2px 10px"><b>Uzdevumi</b></td>
<td style="background-color:#40ce7c;color:white;padding:2px 10px 2px 10px"><a style="color:white" href="slides.html">Prezentācijas</a></td>
<td style="background-color:#4ca7dc;color:white;padding:2px 10px 2px 10px"><a style="color:white" href="exams.html">Testi</a></td>
<td style="background-color:#9e69af;color:white;padding:2px 10px 2px 10px"><a style="color:white" href="references.html">Norādes</a></td>
<td>
<select ONCHANGE="location = this.options[this.selectedIndex].value;">
{% for item in nav_items %}
{% if item.subdir == course %}
    <option value="../{{item.subdir}}/index.html" selected="selected">{{item.title}}</option>
{% else %}
    <option value="../{{item.subdir}}/index.html">{{item.title}}</option> 
{% endif %}
{% endfor %}
</select>
</td>
</tr>
</table>
 
<p><b>2020./2021.m.g. junioru uzdevumi</b></p>

<ul>
<li><a href="../numtheory-bin/selection_problems_2020_2021/homework01-divisibility.pdf">Mājasdarbs #1</a> (2020-10-10, termiņš 2020-10-31).
<a href="../numtheory-bin/selection_problems_2020_2021/chat-transcript-2020-10-10.html">Nodarbības čats</a><br/>
<a href="../numtheory-bin/selection_problems_2020_2021/homework01-divisibility-solutions.pdf">Mājasdarba #1 atrisinājumi</a></li>
<li><a href="../numtheory-bin/selection_problems_2020_2021/homework02-modular-arithmetic.pdf">Mājasdarbs #2</a> (2020-11-15, termiņš 2020-12-05).
</li>
<li><a href="../numtheory-bin/selection_problems_2020_2021/homework03-crt.pdf">Mājasdarbs #3</a> (2021-01-31, termiņš 2021-02-20).
</li>
<li><a href="../numtheory-bin/selection_problems_2020_2021/homework04-rational-irational.pdf">Mājasdarbs #4</a> (2021-03-27, termiņš 2021-04-17).
</li>
</ul>

<!--
<ul>
<li><a href="../numtheory-bin/homeworks/hw01-divisibility-modular.pdf">Mājasdarbs #1</a> (nodarbība 2019-09-28; iesniedzams līdz 2019-10-21)</li>
<li><a href="../numtheory-bin/homeworks/hw02-crt-and-valuations.pdf">Mājasdarbs #2</a> (nodarbība 2019-12-14; iesniedzams līdz 2019-12-30)</li>
</ul>


<p><b>Vecākas uzdevumu lapas</b></p>

<ul>
<li><a href="../numtheory-bin/numtheory-prob-2019-06-10.pdf">Izlases vasaras nodarbību uzdevumi (2019-06-10)</a></li>
<li><a href="../numtheory-bin/numtheory-prob-2019-06-21.pdf">Izlases vasaras nodarbību uzdevumi (2019-06-21)</a></li>
<li><a href="prob/bak-numtheory-imo-shl2/content.html">Prezentācija IMO.SHL 
(2014-2018)</a> (22)</li>
</ul>

-->


<br/>
<h2>ATV pulciņš</h2>

<table class="schedule">
<tr style="background-color:#dddddd"><th colspan="2">Tēma</th><th>Datums</th><th>Atrisinājumi</th><th>Citi skaidrojumi</th></tr>
<tbody class="general">

<tr>
<td><small>25.(1-6)</small></td>
<td><small><a href="../numtheory-bin/atv-2021/homework02_5-rational-irrational.pdf">Racionāli, iracionāli skaitļi</a></small></td>
<td>2020-12-29</td>
<td>&nbsp;</td>
<td><small><a href="../numtheory-bin/atv-2021/25-1-explanation.pdf">25.2 (Pagrieziena matricas)</a></small></td>
</tr>
<tr>
<td><small>100.(1-4)</small></td>
<td><small><a href="../numtheory-bin/atv-2021/atv-worksheet-week01.pdf">Dažādi BW uzdevumi (2019.g. atlase)</a></small></td>
<td>2021-01-04</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
</tbody>

<tbody class="lossless">
<tr>
<td><small>101.(1-22)</small></td>
<td><small><a href="../numtheory-bin/atv-2021/atv-worksheet-week02.pdf">Matemātiskā indukcija (k uz k+1)</a></small></td>
<td>2021-01-11</td>
<td><a href="../numtheory-bin/atv-2021/atrisinajumi-101-1-22.pdf">Atrisinājumi</a></td>
<td>&nbsp;</td>
</tr>
<tr>
<td><small>101.(23-38)</small></td>
<td><small><a href="../numtheory-bin/atv-2021/atv-worksheet-week03.pdf">Matemātiskā indukcija (citas shēmas)</a></small></td>
<td>2021-01-18</td>
<td><a href="../numtheory-bin/atv-2021/atrisinajumi-101-23-38.pdf">Atrisinājumi</a></td>
<td>&nbsp;</td>
</tr>
<tr>
<td><small>101.(39-52)</small></td>
<td><small><a href="../numtheory-bin/atv-2021/atv-worksheet-week04.pdf">Matemātiskā indukcija (hipotēzes pastiprināšana)</a></small></td>
<td>2021-01-25</td>
<td><a href="../numtheory-bin/atv-2021/atrisinajumi-101-39-52.pdf">Atrisinājumi</a></td>
<td>&nbsp;</td>
</tr>
</tbody>

<tbody class="general">
<tr>
<td><small>100.(5-9)</small></td>
<td><small><a href="../numtheory-bin/atv-2021/atv-worksheet-week05.pdf">Dažādi BW uzdevumi (2019.g. atlase)</a></small></td>
<td>2021-02-03</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
</tbody>

<tbody class="lossy">
<tr>
<td><small>102.(1-27)</small></td>
<td><small><a href="../numtheory-bin/atv-2021/atv-worksheet-week06.pdf">Dirihlē princips (atlikumi un to kombinācijas)</a></small></td>
<td>2021-02-10</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
</tbody>


<tbody class="general">
<tr>
<td><small>112.(1-5)</small></td>
<td><small><a href="../numtheory-bin/atv-2021/atv-worksheet-week12.pdf">Kombinatorikas uzdevumu komplekts</a></small></td>
<td>2021-03-24</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
</tbody>

<tbody class="general">
<tr>
<td><small>115.(1-5)</small></td>
<td><small><a href="../numtheory-bin/atv-2021/atv-worksheet-week15.pdf">Varbūtību uzdevumu komplekts</a></small></td>
<td>2021-04-16</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
</tbody>

<tbody class="general">
<tr>
<td><small>117.(1-5)</small></td>
<td><small><a href="../numtheory-bin/atv-2021/atv-worksheet-week17.pdf">Notikumu neatkarība, Gadījumlielumi, Beijesa teorēma</a></small></td>
<td>2021-04-28</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
</tbody>

</table>


<h3>Baltic Way olimpiādes</h3>

<ul style="font-size:90%">
<li><a href="http://18.193.16.199/nt/BalticWay/bw2009-shortlist.pdf">Baltic Way, 2009</a></li>
<li><a href="http://18.193.16.199/nt/BalticWay/bw2010-shortlist.pdf">Baltic Way, 2010</a></li>
<li><a href="http://18.193.16.199/nt/BalticWay/bw2011-shortlist.pdf">Baltic Way, 2011</a></li>
<li><a href="http://18.193.16.199/nt/BalticWay/bw2012-shortlist.pdf">Baltic Way, 2012</a></li>
<li><a href="http://18.193.16.199/nt/BalticWay/bw2013-shortlist.pdf">Baltic Way, 2013</a></li>
<li><a href="http://18.193.16.199/nt/BalticWay/bw2014-shortlist.pdf">Baltic Way, 2014</a></li>
<li><a href="http://18.193.16.199/nt/BalticWay/bw2015-shortlist.pdf">Baltic Way, 2015</a></li>
<li><a href="http://18.193.16.199/nt/BalticWay/bw2016-shortlist.pdf">Baltic Way, 2016</a></li>
<li><a href="http://18.193.16.199/nt/BalticWay/bw2018-shortlist.pdf">Baltic Way, 2018</a></li>
</ul>

<h3>Varbūtības (KhanAcademy)</h3>

<p>KhanAcademy testi ir mazliet padziļināts vidusskolas standarts par varbūtībām un statistiku.</p>

<ul>
<li><a href="https://www.khanacademy.org/math/statistics-probability">Statistics and Probability</a>.
Ieteicamās tēmas:
<ul>
<li><a href="https://www.khanacademy.org/math/statistics-probability/summarizing-quantitative-data">Summarizing quantitative data</a> 
(kā novērojumu datiem rēķina vidējo vērtību, dispersiju, standartnovirzi)</li>
<li><a href="https://www.khanacademy.org/math/statistics-probability/modeling-distributions-of-data">Modelling data distributions</a>
(kā gadījumlielumam, kas atbilst pieņēmumam par normālo sadalījumu, pārbauda nevienādības)</li>
<li><a href="https://www.khanacademy.org/math/statistics-probability/random-variables-stats-library">Random variables</a>
(gadījumlielumi un daži noderīgi piemēri - binomiālais, ģeometriskais, Puasona u.c.)</li>
</ul>
</li>
<li><a href="https://www.khanacademy.org/math/ap-statistics/probability-ap">Advanced Placement (AP): Probability</a> (AP - kaut kas
līdzīgs "augstākajam līmenim" matemātikas standartā pēc Skola2030 reformas)</li>
<li><a href="https://www.khanacademy.org/math/ap-statistics/random-variables-ap">Advanced Placement (AP): Random Variables</a> - vēl šis tas
par gadījumlielumiem</li>
</ul> 


<p><b>Literatūra</b></p>
  
<ol>
<li><a href="../numtheory-bin/atv-2021/multiplicative-group-summary.pdf">Atlikumu multiplikatīvās īpašības (mod p)</a></li>
<li><a href="https://www.math.brown.edu/johsilve/Frint4thChapter21.pdf">Is −1 a Square Modulo p? Is 2?</a> By Joseph Silverman</li>
<li>Lifting The Exponent Lemma (LTE), v.3. By Amir Hossein Parvardi. 2011.</li> 
<li><a href="https://en.wikipedia.org/wiki/Legendre_symbol">Wikipedia: Legendre Symbol</a></li>
</ol>

</ol>



</body>
</html>
