<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
<link rel="stylesheet" type="text/css" href="../style/style.css"/>

</head>

<body>
<h1>Skaitļu teorija (juniori): Norādes</h1>

<table border="0" cellspacing="2">
<tr style="font-size:120%">
<td style="background-color:#de6745;color:white;padding:2px 10px 2px 10px"><a style="color:white" href="index.html">Sākums</a></td>
<td style="background-color:#f1a72c;color:white;padding:2px 10px 2px 10px"><a style="color:white" href="problems.html">Uzdevumi</a></td>
<td style="background-color:#40ce7c;color:white;padding:2px 10px 2px 10px"><a style="color:white" href="slides.html">Prezentācijas</a></td>
<td style="background-color:#4ca7dc;color:white;padding:2px 10px 2px 10px"><a style="color:white" href="exams.html">Testi</a></td>
<td style="background-color:#9e69af;color:white;padding:2px 10px 2px 10px"><b>Norādes</b></td>
<td>
<select ONCHANGE="location = this.options[this.selectedIndex].value;">
{% for item in nav_items %}
{% if item.subdir == course %}
    <option value="../{{item.subdir}}/index.html" selected="selected">{{item.title}}</option>
{% else %}
    <option value="../{{item.subdir}}/index.html">{{item.title}}</option> 
{% endif %}
{% endfor %}
</select>
</td>
</tr>
</table>


<p><b>Norādes pa tēmām</b></p>

<ul>
<li><a href="https://www.youtube.com/watch?v=lJ3CD9M3nEQ">Modular Arithmetic Visually Explained</a></li>
</ul>



<p><b>Dažādas norādes</b></p>

<ul>
<li><a href="https://artofproblemsolving.com/community/c13_contests">ArtOfProblemSolving.com</a>: Dažādu 
olimpiāžu uzdevumi, kas risināti forumā.</a></li>
<li><a href="https://artofproblemsolving.com/wiki/index.php/Olympiad_books#Number_Theory">
AOPS literatūras saraksts par skaitļu teoriju</a></li>
<li><a href="https://math.stackexchange.com/questions/tagged/elementary-number-theory">
Math.Stackexchange.com</a> - forums ar jautājumiem un atbildēm par elementāro skaitļu teoriju</a></li>
<li><a href="https://www.amazon.co.uk/104-Number-Theory-Problems-Training/dp/0817645276/ref=sr_1_1?crid=3Q85CAJ6NO58Q&keywords=104+number+theory+problems+from+the+training+of+the+usa+imo+team&qid=1560261132&s=gateway&sprefix=104+prob%2Caps%2C169&sr=8-1">104 Number Theory Problems by T.Andreesku et al.</a> - vienkārša teorija, bet reālistiski uzdevumi</li>
<li><a href="https://www.amazon.co.uk/Illustrated-Theory-Numbers-Martin-Weissman/dp/1470434938/ref=sr_1_1?crid=22JOM1KA12CUI&keywords=an+illustrated+theory+of+numbers&qid=1560261247&s=gateway&sprefix=illustrated+numb%2Caps%2C179&sr=8-1">An Illustrated Theory of Numbers by Martin H. Weissman.</a> - Skaitļu teorijas grāmata ar bildēm.</li>
<li><a href="https://vimeo.com/280394869">
Beautiful Young Minds</a> - BBC dokumentālā filma par to, kā Lielbritānijas izlase gatavojās 2006.g. IMO.</li>
<li><a href="https://bmos.ukmt.org.uk/solutions/bmo1-2019/">
BMO1 atrisinājumi video formātā</a> - Viens no augšminētās filmas "Beautiful Young Minds" varoņiem - 
Geoff Smith (University of Bath) stāsta 2019.g. britu matemātikas olimpiādes atrisinājumus.</li>
</ul>


<p><b>Baltijas Ceļa atlases sacensības (BW.TST - Team Selection Test)</b></p>

<ul>
<li><a href="../numtheory-bin/bwtst2015-prb.pdf">2015.g. atlases sacensības</a></li>
<li><a href="../numtheory-bin/bwtst2016-prb.pdf">2016.g. atlases sacensības</a></li>
<li><a href="../numtheory-bin/bwtst2017-prb.pdf">2017.g. atlases sacensības</a></li>
<li><a href="../numtheory-bin/bwtst2018-prb.pdf">2018.g. atlases sacensības</a></li>
<li><a href="../numtheory-bin/bwtst2019-prb.pdf">2019.g. atlases sacensības</a></li>
<li><a href="http://85.254.250.28/BalticWay/">Agrāko gadu Baltijas Ceļa īsie saraksti (shortlists)</a></li>
<li><a href="../numtheory-bin/numtheory-topics-juniors.docx">Skaitļu teorijas tēmas junioriem 2019./2020.m.g.</a></li>
<li><a href="../numtheory-bin/nt-jun-summary.pdf">Formulu lapa</a></li>
</ul>




</html>
