{% extends "layout_topics.html" %}

{% block title %}Topics{% endblock %}

{% block before_accordion %}

<p>Please read the relevant subchapters from the textbook (see below).<br/>
The link to the textbook (Kenneth Rosen. Discrete Mathematics, 2019) is in ORTUS.<br/>
See also 
the <a href="https://www.youtube.com/playlist?list=PLl-gb0E4MII28GykmtuBXNUNoej-vY5Rz">Playlist </a> below are by
<a href="https://www.bellevue.edu/about/leadership/faculty/brehm-kimberly">Kimberly Brehm</a>.</p> 

{% endblock %}
