{% extends "layout.html" %}

{% block title %}Coq{% endblock %}

{% block content %}


<h2>Glossary</h2>

<p>TBD</p>


<h2>Theory Cheat Sheets</h2>

<p>TBD</p>

<h2>Algorithmic Procedures</h2>

<ol>
<li>Propositional and Predicate Logic</li>
<li>Sets, Functions, Relations</li>
<li>Algorithms, Asymptotics, Recursion</li>
<li>Number Theory, Induction
<ul>
<li>Sieve of Eratosthenes</li>
<li>Brute-force Primality Test</li>
<li>Euclid Algorithm for GCD</li>
<li>Blankinship Algorithm</li>
</ul>
</li>
<li>Combinatorics
<ul>
<li>Characteristic Equation for a Recurrent Sequence (Real roots only)</li>
</ul>
</li>
<li>Probabilities
<ul>
<li>Find E(X), V(X) if the probability density function is known.</li>
</ul>
</li>
<li>Graphs and Trees
<ul>
<li>Count Paths Between Vertices</li>
<li>Find Euler Circuit</li>
<li>Preorder Traversal</li>
<li>Inorder Traversal</li>
<li>Postorder Traversal</li>
<li>Print Infix</li>
<li>Evaluate Postfix</li>
</li>
</ol>


{% endblock %}



