{% extends "layout.html" %}

{% block title %}Uzdevumi{% endblock %}

{% block content %}

<h2>Mājasdarbi (max 600&permil;)</h2>

<table border="1" cellspacing="0" style="margin-bottom:10px;">
<tr>
  <th>Estudiju ID</th>
  <th>Nosaukums</th>
  <th>Termiņš</th>
  <th>Max</th>
  <th>Average</th>
</tr>
<tr>
  <td>HW01</td>
  <td><a href="/training/algorithms/fall2020-hw01.pdf">Bezzudumu saspiešana</a></td>
  <td>2020-10-05</td>
  <td>150&permil;</td>
  <td>TBD</td>
</tr>
<tr>
  <td>HW02</td>
  <td><a href="/training/algorithms/fall2020-hw02.pdf">Attēlu saspiešana, kļūdu labošana</a></td>
  <td>2020-11-09</td>
  <td>150&permil;</td>
  <td>TBD</td>
</tr>
<tr>
  <td>HW03</td>
  <td><a href="/training/algorithms/fall2020-hw03.pdf">Lineārā programmēšana</a></td>
  <td>2020-12-11</td>
  <td>150&permil;</td>
  <td>TBD</td>
</tr>
<tr>
  <td>HW04</td>
  <td><a href="/training/algorithms/fall2020-hw04.pdf">Stringu meklēšana</a></td>
  <td>2020-01-04</td>
  <td>150&permil;</td>
  <td>TBD</td>
</tr>

</table>




<h2>Eksāmeni (max 400&permil;)</h2>


<table border="1" cellspacing="0" style="margin-bottom:10px;">
<tr>
  <th>Estudiju ID</th>
  <th>Nosaukums</th>
  <th>Termiņš</th>
  <th>Max</th>
  <th>Average</th>
</tr>
<tr>
  <td>MIDTERM</td>
  <td><a href="/training/algorithms/fall2020-midterm.pdf">Vidus eksāmens</a></td>
  <td>2020-11-02</td>
  <td>200&permil;</td>
  <td>TBD</td>
</tr>
<tr>
  <td>FINAL</td>
  <td><a href="/training/algorithms/fall2020-final.pdf">Gala eksāmens</a></td>
  <td>2020-12-21</td>
  <td>200&permil;</td>
  <td>TBD</td>
</tr>




</table>


<h2>Agrāko gadu uzdevumi</h2>

<section style="font-size: 80%">

<p>Uzdevumiem ir tikai izklaidējoša nozīme; tie NAV jāiesniedz šajā kursā.</p>

<p>2020.g. rudens</p>

<ul>
<li><a href="/training/algorithms/fall2020-hw01.pdf">MD01: Bezzudumu saspiešana</a>;<br/>
    <a href="">MD01: Atrisinājumi</a></li>
<li><a href="/training/algorithms/fall2020-hw02.pdf">MD02: Zudumradoša saspiešana, kļūdu korekcija</a></li>
<li><a href="/training/algorithms/fall2020-midterm.pdf">Vidus eksāmens</a>;<br/>
    <a href="/training/algorithms/fall2020-midterm-solution.pdf">Vidus eksāmena atrisinājumi</a></li>
<li><a href="/training/algorithms/fall2020-hw03.pdf">MD03: Lineārā programmēšana</a></li>
<li><a href="/training/algorithms/fall2020-hw04.pdf">MD04: Virkņu meklēšana</a></li>
<li><a href="/training/algorithms/fall2020-final.pdf">Gala eksāmens</a></li>
</ul>


<p>2019.g. rudens</p>

<ul>
<li><a href="/training/algorithms/fall2019-hw01.pdf">MD01: Bezzudumu saspiešana</a>;<br/>
    <a href="/training/algorithms/fall2019-hw01-solution.pdf">MD01: Atrisinājumi</a></li>
<li><a href="/training/algorithms/fall2019-hw02.pdf">MD02: Zudumradoša saspiešana un kļūdu korekcija</a></li>
<li><a href="/training/algorithms/fall2019-coding.pdf">Programmēšanas uzdevumi</a>;
<li><a href="/training/algorithms/fall2019-midterm.pdf">Vidus eksāmens</a>;<br/>
    <a href="/training/algorithms/fall2019-midterm-solution.pdf">Vidus eksāmena atrisinājumi</a></li>
<li><a href="/training/algorithms/fall2019-hw03.pdf">MD03: Lineārā optimizācija</a></li>
<li><a href="/training/algorithms/fall2019-hw04.pdf">MD04: Lineārā optimizācija un virkņu meklēšana</a><br/>
    <a href="/training/algorithms/fall2019-hw04-solution.pdf">MD04: Atrisinājumi</a></li>
<li><a href="/training/algorithms/fall2019-final.pdf">Gala eksāmens</a></li>
<li><a href="/training/algorithms/fall2019-final-v2.pdf">Gala eksāmens V2</a></li>
</ul>

</section>


{% endblock %}



