{% extends "layout.html" %}

{% block title %}Programmēšana{% endblock %}

{% block content %}

<h2>Radniecīgi resursi</h2>

<dl>
<dt>Algoritmu Termini</dt>
<dd><a href="https://docs.google.com/spreadsheets/d/e/2PACX-1vSLVLNVzAeFFn6gcjP7uwEYyMTb7yD2-ey8vdi234VIApiYeRvZOsnaLqT5a_1jGQJ_X53NSTVNIS_K/pubhtml?gid=0&single=true">Neformāla 
datorikas (algoritmu un programmēšanas) terminu vārdnīciņa</a></dd>
<dt>[CMU:Blelloch2018]</dt>
<dd><a href="http://www.cs.cmu.edu/~guyb/rwc/">Algorithms in the "Real World"</a>
G. Bleloka mājaslapa Karnegī-Melona universitātē; līdzīgs LU kursam DatZ4020, 
bet tur tas domāts maģistrantiem, nevis bakalauriem - ir arī dažas sarežģītākas tēmas.
</dd>
</dl>

<h2>Matemātikas priekšzināšanas</h2>

<dl>
<dt>1.nedēļa: Bezzudumu saspiešana</dt>
<dd>Injektīvas funkcijas. Dirihlē princips. Reizināšanas likums kombinatorikā. 
Logaritmu īpašības (logaritms no reizinājuma). Neatkarīgi gadījuma lielumi. 
Ziņojumu alfabēts A. Dažāda garuma vārdi alfabētā. Apzīmējums A* - visu galīga garuma vārdu 
kopu apvienojums. "epsilon" - tukšais vārds. 
Entropijas robeža, ja kāda no varbūtībām tiecas uz 0.</dd>
<dt>2.nedēļa: Prefiksu kodi, aritmētiskais kods</dt>
<dd>Jensena nevienādība. Daļskaitļi binārajā pierakstā.</dd>
<dt>3.nedēļa: Lempela-Ziva kodi</dt>
<dd>Markova procesi. Gadījumlielumu virknes, kas nav neatkarīgas.</dd>
<dt>4.nedēļa: Berouza-Vilera kodi, pārskats</dt>
<dd>
</dl>


<!--
http://people.seas.harvard.edu/~madhusudan/courses/Spring2019/scribe/lect05.pdf
Ielasa tekstus; veido n-grammas pie n=2, n=3, n=4

Assignment 4 idea: Matching DNS fragments using hashing.
https://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-006-introduction-to-algorithms-fall-2011/assignments/MIT6_006F11_ps4_sol.pdf

-->


{% endblock %}

