{% extends "layout_topics.html" %}

{% block title %}Sākumlapa{% endblock %}

{% block before_accordion %}

<p><b>DatZ4020 Syllabus:</b>
<a href="../algorithms-bin/lu-datz4020-syllabus-2020-fall.pdf">2020.g. rudens</a> &nbsp; 
(sk. arī <a href="../algorithms-bin/lu-datz4020-syllabus-2019-fall.pdf">2019.g. rudens</a>).<br/>

<b>Prasmju analīze pa nedēļām:</b> Jēdzieni,  
<span style="color:blue">Vingrinājumi</span>, <span style="color:green">Programmēšanas piemēri</span>, 
<span style="color:#B00000;">Matemātiski rezultāti</span>.</p>

{% endblock %}

