{% extends "layout.html" %}

{% block title %}Rādītāji{% endblock %}

{% block content %}


<h2>Algoritmi: Saspiešana</h2>

<dl>
<dt>Hafmana algoritms</dt>
<dd>Optimāla prefiksu koka iegūšana.</dd>
<dt>Kanoniskais Hafmana koks</dt>
<dd>Prefiksu koka attēlošana iespējami kompaktā un standartizētā veidā.</dd>
<dt>Aritmētiskā iekodēšana</dt>
<dd>Ziņojuma pārveidojums par galīgu bināru daļu, 
izmantojot "entropijas koda" pieeju.</dd>
<dt>Veselu skaitļu aritmētiskā kodēšana</dt>
<dd>Aritmētiskā koda modifikācija veselu skaitļu aritmētikai</dd>
</ul>


<h2>Priekšzināšanas: Algebra un analīze</h2>

<dl>
<dt>Logaritma īpašības</dt><dd>Logaritms no reizinājuma; logaritma bāzes maiņa;  
robežas ar logaritmiem. Entropijas jēdziens un tā īpašības</dd>
<dt>Ieliektas/izliektas funkcijas</dt>
<dd>Jensena nevienādība; dažas nevienādības ar aritmētisko vai kvadrātisko vidējo.</dd>
<dt>Divu miliču teorēma</dt>
<dd>Aritmētiskā koda rezultāts kā monotonu ierobežotu virkņu kopīgā robeža.
</dl>

<h2>Priekšzināšanas: Diskrētā matemātika</h2>

<dl>
<dt>Reizināšanas likums</dt>
<dd>Virknīšu skaitīšanas metodes kombinatorikā</dd>
<dt>Dirihlē princips</dt>
<dd>Injektīvas funkcijas un dirihlē princips; universālas saspiešanas neiespējamība.</dd>
<dt>Daļskaitļu binārs pieraksts</dt>
<dd>Aritmētiskā koda iegūšana.</dd>
</dl>



<h2>Priekšzināšanas: Datu struktūras</h2>

<dl>
<dt>Prioritāšu rinda</dt><dd>Hafmana algoritmā izmantota.</dd>
</dl>

{% endblock %}

