{% extends "layout.html" %}

{% block title %}Lekciju bildes{% endblock %}

{% block content %}


<table class="schedule" font-size="80%">
    <tr style="background-color:#dddddd"><th colspan="2">Tēma</th><th>Datums</th></tr>

    <tbody class="lossless">
        <tr><td>1.1.</td><td>Hafmana kods</td><td>2024-09-03</td></tr>
    </tbody>
    <tbody class="lossless">
        <tr><td>1.2.</td><td>Aritmētiskais kods</td><td>2024-09-10</td></tr>
    </tbody>
    <tbody class="lossless">
        <tr><td>1.3.</td><td>Lempela-Ziva algoritmi</td><td>2024-09-17</td></tr>
    </tbody>
    <tbody class="lossless">
        <tr><td>1.4.</td><td>Berouza-Vīlera transformācija</td><td>2024-09-24</td></tr>
    </tbody>
    <tbody class="lossless">
        <tr><td></td><td>Bezzudumu saspiešana: Uzdevumu lapa</td><td>2024-09-24</td></tr>
    </tbody>

    <tbody class="lossy">
        <tr><td>2.1.</td><td>JPEG formāts</td><td>2024-10-01</td></tr>
    </tbody>
    <tbody class="lossy">
        <tr><td>2.2.</td><td>Video un audio formāti</td><td>2024-10-08</td></tr>
    </tbody>
    <tbody class="lossy">
        <tr><td>2.3.</td><td>Heminga kļūdu korekcijas kodi</td><td>2024-10-15</td></tr>
    </tbody class="lossy">
        <tr><td>2.4.</td><td>Rīda-Solomona un turbo kodi</small></td><td>2024-10-22</td></tr>
    </tbody>


</table>



<a href="https://estudijas.lu.lv/course/info.php?id=1613">DatZ4020 apraksts LU Kursu katalogā</a></li>

<p><small>Tastatūras komandas Reveal.JS prezentācijās:
<b>S</b> - spīkera skats; <b>F</b> - pilnekrāna režīms; 
<b>Esc</b> - pārskats; <b>Home</b> - uz sākumu; <b>End</b> - uz beigām; 
bultiņas <b>Left</b>, <b>Right</b>, <b>Up</b>, <b>Down</b>.</small></p>

<table class="schedule">
<tr style="background-color:#dddddd"><th colspan="2">Tēma</th><th>Datums</th></tr>
{% for jsonWeek in jsonModules %}
<tbody class="{{jsonWeek[0].part}}">
{% for tale in jsonWeek %}
<tr>
<td><small>{{tale.subid}}</small></td>
{% if tale.show == "yes" %}
<td><small><a href="{{ url_for('static', filename='algorithms-slides/{}/index.html'.format(tale.subdir)) }}">{{tale.title}}</a></small></td>
{% else %}
<td><small style="color:#aaaaaa;">{{tale.title}}</small></td>
{% endif %}
{% if loop.index == 1 %}
<td rowspan="{{jsonWeek|length}}"><small>{{tale.date}}</small></td>
{% endif %}
</tr>
{% endfor %}
</tbody>
{% endfor %}
</tbody>
</table>


{% endblock %}

