{% extends "layout.html" %}

{% block title %}Lekciju bildes{% endblock %}

{% block content %}

<a href="https://estudijas.lu.lv/course/info.php?id=1613">DatZ4020 apraksts LU Kursu katalogā</a></li>

<p><small>Tastatūras komandas Reveal.JS prezentācijās:
<b>S</b> - spīkera skats; <b>F</b> - pilnekrāna režīms; 
<b>Esc</b> - pārskats; <b>Home</b> - uz sākumu; <b>End</b> - uz beigām; 
bultiņas <b>Left</b>, <b>Right</b>, <b>Up</b>, <b>Down</b>.</small></p>

<table class="schedule">
<tr style="background-color:#dddddd"><th colspan="2">Tēma</th><th>Datums</th></tr>
{% for jsonWeek in jsonModules %}
<tbody class="{{jsonWeek[0].part}}">
{% for tale in jsonWeek %}
<tr>
<td><small>{{tale.subid}}</small></td>
{% if tale.show == "yes" %}
<td><small><a href="../algorithms-tales/{{tale.subdir}}/index.html">{{tale.title}}</a></small></td>
{% else %}
<td><small style="color:#aaaaaa;">{{tale.title}}</small></td>
{% endif %}
{% if loop.index == 1 %}
<td rowspan="{{jsonWeek|length}}"><small>{{tale.date}}</small></td>
{% endif %}
</tr>
{% endfor %}
</tbody>
{% endfor %}
</tbody>
</table>

{% endblock %}

