<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
<link rel="stylesheet" type="text/css" href="../style/style.css"/>

</head>

<body>
<h1>First Year Seminar (RBS): Home</h1>

<table border="0" cellspacing="2">
<tr style="font-size:120%">
<td style="background-color:#de6745;color:white;padding:2px 10px 2px 10px"><b>Home</b></td>
<td style="background-color:#f1a72c;color:white;padding:2px 10px 2px 10px"><a style="color:white" href="tasks.html">Tasks</a></td>
<td style="background-color:#40ce7c;color:white;padding:2px 10px 2px 10px"><a style="color:white" href="slides.html">Slides</a></td>
<td style="background-color:#4ca7dc;color:white;padding:2px 10px 2px 10px"><a style="color:white" href="bauska.html">About Bauska</a></td>
<td style="background-color:#9e69af;color:white;padding:2px 10px 2px 10px"><a style="color:white" href="references.html">References</a></td>
<td>
<select ONCHANGE="location = this.options[this.selectedIndex].value;">
{% for item in nav_items %}
{% if item.subdir == course %}
    <option value="../{{item.subdir}}/index.html" selected="selected">{{item.title}}</option>
{% else %}
    <option value="../{{item.subdir}}/index.html">{{item.title}}</option> 
{% endif %}
{% endfor %}
</select>

</td>
</tr>
</table>

<p>This place is used only for training material testing and development. 
All official communication regarding the RBS course "First Year Seminar"  
is found in the Riga Technical University resource <a href="https://ortus.rtu.lv">ORTUS</a>.</p>

<p>Some other RBS-related presentations are also linked here.</p>
 


<!--

https://is.kulturaskarte.lv/LDKK3.WebSite/Logon.aspx?ReturnUrl=%2fLDKK3.Website https://kulturasdati.lv/lv
From Me to Everyone:  03:06 PM
https://www.bauskasdzive.lv/
From Me to Everyone:  03:15 PM
kalvis.apsitis@gmail.com Inga Pinne. 
From ilze.tijone to Everyone:  03:17 PM
inga.pinne@bauska.lv Sabiedrisko attiecību speciāliste ieva.somina@bauska.lv Sabiedrisko attiecību nodaļas vadītāja kevinsmberlinskis@gmail.com

-->




</body>
</html>

