{% extends "layout.html" %}

{% block title %}Visi kursi: Sākums{% endblock %}

{% block content %}

<h1>Tiešsaistes mācību materiāli</h1>

<p style="font-size:80%">(lv) Šeit apkopoti mācību materiāli vairākiem matemātikas un programmēšanas kursiem.</p>
<p style="font-size:80%">(en) This site is a collection of various learning materials on mathematics and
    programming.</p>

<dl>
<dt class="nav"><a href='../discrete-spring2022/index'>Discrete Spring2022</a></dt>
    <dd>A course for the 1st year students in RBS.</dd>
<dt class="nav"><a href='../numtheory/index'>Skaitļu teorija</a></dt>
    <dd>Number Theory - an advanced course for high-school students,
            <a href="https://www.nms.lu.lv/nodarbibas/izlases-nodarbibas/2021/2022-macibu-gads/">
                University of Latvia</a> (in Latvian).</dd>
<dt class="nav"><a href='../onlinetests/index'>Tiešsaistes testi</a></dt>
    <dd>Online tests on competitive mathematics (in Latvian).</dd>
</dl>


<p style="width:80%">This site honors
    <a href="https://en.wikipedia.org/wiki/Dzhokhar_Dudayev">Dzhokhar Dudayev</a>,
    the first president of Chechen Republic of Ichkeria; Dudayev Alley (Dudajeva Gatve) is
    also a toponym in Riga, Latvia.</p>

<p style="width:60%; font-size:80%;">Creative Commons (CC-BY-4.0) Licence.
    You are welcome to copy, modify and remix all materials published on this site.
    Referring to the "dudajevagatve.lv" website is welcome.
    To the best of our knowledge the materials published do not have
    any copyright limitations - they are written by the authors of
    "dudajevagatve.lv" or properly quoted as problem questions taken from other sources.</p>



<!--
<button class="nav" onclick="location.href='../algorithms/index'" type="button">
Lietišķie algoritmi</button><br/>
<button class="nav" onclick="location.href='../data-structures-fall2021/index'" type="button">
Data Structures Fall2021</button><br/>
<button class="nav" onclick="location.href='../data-structures-fall2020/index'" type="button">
Data Structures Fall2020</button><br/>
<button class="nav" onclick="location.href='../discrete-spring2021/index'" type="button">
Discrete Spring2021</button><br/>
<button class="nav" onclick="location.href='../discrete-spring2020/index'" type="button">
Discrete Spring2020</button><br/>
-->

{% endblock %}


