{% extends "layout.html" %}

{% block title %}Visi kursi: Sākums{% endblock %}

{% block content %}

<button class="nav" onclick="location.href='../discrete-spring2022/index'" type="button">
Discrete Spring2022</button><br/>
<button class="nav" onclick="location.href='../numtheory/index'" type="button">
Skaitļu teorija</button><br/>
<button class="nav" onclick="location.href='../algorithms/index'" type="button">
Lietišķie algoritmi</button><br/>
<button class="nav" onclick="location.href='../data-structures-fall2021/index'" type="button">
Data Structures Fall2021</button><br/>
<button class="nav" onclick="location.href='../data-structures-fall2020/index'" type="button">
Data Structures Fall2020</button><br/>
<button class="nav" onclick="location.href='../discrete-spring2021/index'" type="button">
Discrete Spring2021</button><br/>
<button class="nav" onclick="location.href='../discrete-spring2020/index'" type="button">
Discrete Spring2020</button><br/>

{% endblock %}


