{% extends "layout.html" %}

{% block title %}Proof Strategies{% endblock %}

{% block content %}

<p>Proofs reflect our creativity, but they mostly follow certain patterns and rules of the genre. 
Here we list some proof templates used in course assignments with examples.</p>

<table class="proofs">
<colgroup>
<col class="aaa">
<col class="bbb">
<col class="ccc">
</colgroup><tbody>
<tr><th>Name of a template</th><th>A Typical Example</th><th>Further Examples</th></tr>
<tr class="odd">
  <td>Direct proof of an IF-THEN statement</td>
  <td class="compact">Prove that for any odd integer 
  <span class="math inline">\(k\)</span>, the square 
  <span class="math inline">\(k^2\)</span> 
  gives remainder 1, when divided by 8.<br/>
  <strong>
  (1) Translate: Odd <span class="math inline">\( k \)</span> 
  means <span class="math inline">\(k = 2n+1\)</span><br/> 
  (2) Rewrite: <span class="math inline">\( (2n+1)^2 = 4n^2 + 4n + 1 = 4n(n+1)+1 \)</span><br/>
  (3) Sort cases: <span class="math inline">\( n \)</span> even or odd.
  </strong>
  </td>
  <td>&nbsp;</td>
</tr>
<tr class="even">
  <td>Bidirectional proof of an IF-AND-ONLY-IF statement</td>
  <td style="font-size:80% !important;">Prove that a positive integer <span class="math inline">\(n\)</span>
  has odd number of positive divisors (including 1 and <span class="math inline">\(n\)</span> 
  itself) if and only if 
  <span class="math inline">\(n\)</span> is a full square - can be expressed
  as  <span class="math inline">\( k^2 \)</span>.</td>
  <td>&nbsp;</td>
<tr class="odd">
  <td>Contrapositive proof of an IF-AND-ONLY-IF statement</td>
  <td>Prove that for any prime number <span class="math inline">\(\ p \)</span>,  
  the square root <span class="math inline">\(\ \sqrt{p} \)</span> is irrational.</td>
  <td>&nbsp;</td>
</tr>
<tr class="even">
  <td>Proving an identity by sorting cases</td>
  <td>For any real number <span class="math inline">\(\ x \in \mathbb{R} \)</span>  
  its rounded value to the nearest tenth (rounding to one decimal place) is equal to 
  <span class="math inline">\( \frac{1}{10} \lfloor 10x + 0.5 \rfloor \).</span></td>
  <td>&nbsp;</td>
</tr>
<tr class="odd">
  <td>Proving that a bijective function exists by construction</td>
  <td>Prove that there is a function <span class="math inline">\(\ f : (-\pi;\pi) \rightarrow \mathbb{R} \)</span>
  mapping interval <span class="math inline">\(\ (-\pi;\pi) \)</span> to 
  <span class="math inline">\(\ \mathbb{R} \)</span> such that every real number 
  <span class="math inline">\(\ y \)</span> has exactly one 
  <span class="math inline">\(\ x \)</span> such that <span class="math inline">\(\ f(x)=y \)</span>.
  <td>&nbsp;</td>
</tr>
<tr class="even">
  <td>Disproving that a bijective function exists from the contrary.</td>
  <td>Prove that it is impossible to enumerate all <b>subsets</b> of natural numbers
  with natural numbers.</td>
  <td>&nbsp;</td>
</tr>
<tr class="odd">
  <td>Prove that some set is infinite by contradiction.</td>
  <td>Prove that there are infinitely many primes.</td>
  <td>&nbsp;</td>
</tr>
</table>



{% endblock %}



