<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
<link rel="stylesheet" type="text/css" href="../style/style.css"/>

</head>

<body>
<h1>Lietišķie algoritmi: Prasmes</h1>

<table border="0" cellspacing="2">
<tr style="font-size:120%">
<td style="background-color:#de6745;color:white;padding:2px 10px 2px 10px"><a style="color:white" href="index.html">Sākums</a></td>
<td style="background-color:#f1a72c;color:white;padding:2px 10px 2px 10px"><a style="color:white" href="problems.html">Mājasdarbi</a></td>
<td style="background-color:#40ce7c;color:white;padding:2px 10px 2px 10px"><a style="color:white" href="tales.html">Prezentācijas</a></td>
<td style="background-color:#4ca7dc;color:white;padding:2px 10px 2px 10px"><b>Prasmes</b></td>
<td style="background-color:#9e69af;color:white;padding:2px 10px 2px 10px"><a style="color:white" href="references.html">Norādes</a></td>
<td>
<select ONCHANGE="location = this.options[this.selectedIndex].value;">
{% for item in nav_items %}
{% if item.subdir == course %}
    <option value="../{{item.subdir}}/index.html" selected="selected">{{item.title}}</option>
{% else %}
    <option value="../{{item.subdir}}/index.html">{{item.title}}</option> 
{% endif %}
{% endfor %}
</select>
</td>
</tr>
</table>

<h2>Saraksts ar gala kontroldarba tēmām (2019-12-17)</h2>


<ol>
<li>Bezzudumu saspiešana

<ol type="a">
	<li>Atrast varbūtību sadalījumu diskrētam gadījumlielumam 
	(piemēram, ziņojumu kopai) ar nelielu skaitu vērtību, ja zināms ziņojumu ģenerēšanas 
	process.</li>
	<li>Atrast viena ziņojuma informācijas saturu.</li>
	<li>Atrast ziņojumu sadalījuma entropiju.</li>
	<li>Izveidot Hafmana koku ziņojumiem, ja dots to varbūtību sadalījums.</li>
	<li>Pārveidot Hafmana koku kanoniskā formā.</li>
	<li>Iekodēt ziņojumu virkni ar aritmētisko kodu, ja dotas ziņojumu varbūtības.</li>
	<li>Atkodēt aritmētisko kodu, ja dotas ziņojumu varbūtības.</li>
	<li>Iekodēt un atkodēt ziņojumu virkni ar LZ78 algoritmu, izmantot tā datu struktūru (tabulu ar pievienojamo 
	virknīšu vārdnīcu).</li> 
	<li>Iekodēt un atkodēt ziņojumu virkni ar LZ78 algoritmu, izmantot tā datu struktūru (apzīmēt apakšvirknītes
	jau iekodētajā apgabalā).</li>
	<li>Veikt 1 soli Berouza-Vīlera algoritma iekodēšanā vai atkodēšanā (virknēm garumā līdz 20 simboliem).</li>
	<li>Veikt pilnu Berouza-Vīlera iekodēšanu vai atkodēšanu (virknēm garumā līdz 8 simboliem).</li>
	<li>Veikt "Move-to-Front" kodēšanu un atkodēšanu</li>
</ol>

<p>Atsaucamies uz šādām matemātikas (M) vai datorikas teorijas (T) prasmēm:</p>

<dl>
	<dt>Saspiešana kā matemātiska funkcija</dt>
	<dd><ol type="A">
	<li>(M) Injektīvi, sirjektīvi un bijektīvi attēlojumi</li>
	<li>(M) Reizināšanas likums kombinatorikā; kombinācijas ar atkārtojumiem</li>
	<li>(T) Apgalvojums, kāpēc neeksistē universāls saspiešanas algoritms</li>
	<li>(M) Daļskaitļu pieraksts divnieku sistēmā (aritmētiskajam kodam)</li>
	<li>(T) Skaitļu intervālu kodēšana ar galīgu bitu virkni</li>
	</ol></dd>
	
	<dt>Prefiksu koku atkodējamība un veidošana</dt>
	<dd><ol type="A">
	<li>(T) Prefiksu koka jēdziens</li>
	<li>(T) UTF-8 kodējums kā prefiksu kods</li>
	<li>(T) Apgalvojums par Hafmana koda optimalitāti</li>
	<li>(T) Prioritātes rinda (datu struktūra Hafmana koka veidošanas laikā)</li>
	</ol></dd>
	
	<dt>Entropija</dt>
	<dd><ol type="A">
	<li>(M) Reizinājuma un dalījuma logaritms</li>
	<li>(M) Logaritma bāzes maiņas formula</li>
	<li>(T) Informācijas satura un entropijas jēdzieni</li>
	<li>(T) Kuram $n$ varbūtību sadalījumam iestājas entropijas maksimums/minimums</li>
	<li>(M) Varbūtību aprēķini kartiņu/urnu un svēršanas uzdevumos</li> 
	</ol></dd>
	
	<dt>Šenona informācijas teorēma</dt>
	<dd><ol type="A">
	<li>(M) Jensena nevienādība (t.sk. logaritmam un entropijas novērtējumos)</li>
	<li>(T) Krafta-Makmilana teorēma</li>
	<li>(T) Teorēma par koda garumu, kas nepārsniedz H(S)+1 (entropija plus 1).</li>
	</ol></dd>
</dl>
</li>


<li>Zudumradošā saspiešana

<ol type="a">
	<li>Veikt kvantizāciju, pārveidojot skaitļus mazākā intervālā.</li>
	<li>Veikt pāreju uz citu krāsu plakni.</li>
	<li>Uzrakstīt izteiksmes diskrēto kosinusu transformācijai 1D un 2D gadījumos.</li>
	<li>JPEG algoritmā izpildīt pārveidojumu no RGB uz YIQ</li>
	<li>JPEG algoritmā izpildīt plakņu I,Q izretināšanu</li>
	<li>JPEG algoritmā izpildīt DFT 8x8 blokiem</li>
	<li>JPEG algoritmā kvantizēt DFT koeficientus</li>
	<li>JPEG algoritmā savirknēt koeficientus un iegūt starpības</li>
	<li>Run-length encoding - kodēšana un atkodēšana</li>
	<li>Aprēķināt MP4 formāta datu saspiežamību, ja zināms, cik tajā ir katra veida freimu, cik kadru sekundē un cik labi katru no tiem var saspiest.</li>
	<li>Aprēķināt MP3 formāta datu saspiežamību, ja zināms paraugā esošo frekvenču diapazons un iesaistīto "filterbank" skaits, un bitraide (bit/s).</li>
</ol>

<p>Atsaucamies uz šādām matemātikas (M) vai datorikas teorijas (T) prasmēm:</p>

<dl><dt>Vektoru algebra<dt/>
	<dd><ol type="A">
	<li>(M) Vektoru saskaitīšana, reizināšana ar skalāriem</li>
	<li>(M) Matricas un vektora (arī divu matricu) reizināšana</li>
	<li>(T) Vairāku veidu krāsu koordinātas</li>
	</ol></dd>
	<dt>Signāla kodēšana pa frekvencēm</dt>
	<dd><ol type="A">
	<li>(M) Nepārtrauktas funkcijas Furjē pārveidojums</li>
	<li>(T) Šenona-Naikvista teorēma</li>
	</ol></dd>
</dl>
</li>


<li>Kļūdu korekcijas kodi

<ol type="a">
	<li>Definēt [n,k,d] kļūdu korekcijas kodu.</li>
	<li>Kombinatoriski pamatot [n,k,d] kodu (ne)esamību noteiktiem parametriem n,k,d.</li>
	<li>Izveidot Heminga kodu (saskaitāmās izteiksmes pēc mod 2) vienas kļūdas labošanai un iekodēt.</li>
	<li>Sakārtot Heminga ziņojumu/kontroles bitus inversi leksikogrāfiski</li>
	<li>Atkodēt 7-bitu un 15-bitu Heminga kodus</li>
	<li>Saistīt Solomona-Rīda polinoma pakāpi, vērtību un kļūdu skaitu</li>
	<li>Veikt četras aritmētiskas darbības galīgos laukos GF(p) (atlikumi pēc pirmskaitļa moduļa)</li>
	<li>Veikt četras aritmētiskas darbības galīgos laukos GF(2^n).</li>
	<li>Definēt vispārīgu lineāru kodu.</li>
	<li>Lietot lineāra koda ģeneratormatricu un pareizības pārbaudes matricu.</li> 
</ol>

<p>Atsaucamies uz šādām matemātikas (M) vai datorikas teorijas (T) prasmēm:</p>

<dl>
	<dt>Simbolu virkņu telpa un trijstūra nevienādība</dt>
	<dd><ol type="A">
	<li>(M) Bitu virkņu attāluma jēdziens</li>
	<li>(T) Attālums starp 2 (nekļūdainiem) ziņojumiem ir vismaz 2c+1</li>
	<li>(T) Apgalvojums, ka Heminga koda garums ir mazākais iespējamais</li>
	</ol></dd>
	
	<dt>Polinomu īpašības</dt>
	<dd><ol type="A">
	<li>(M) Algebras pamatteorēma</li>
	<li>(M) Algebras pamatteorēmas sekas par divu polinomu sakņu sakrišanu</li>
	<li>(M) Polinoma konstruēšana ar dotajām saknēm</li>
	<li>(M) Lagranža interpolācijas polinomi</li>
    <li>(T) CRC kontrolsummas</li>
	</ol></dd>
	
	<dt>Galīgie lauki</dt> 
	<dd><ol type="A">
	<li>(M) Lauku jēdziens un piemēri</li>
	<li>(M) Lauks GF(p), kur p ir pirmskaitlis</li>
	<li>(M) Lauks GF(2^n)</li>
	<li>(M) Polinomi virs galīgiem laukiem</li>
	</ol></dd>
</dl>

</li>


<li>Kriptogrāfijas algoritmi

<ol type="a">
	<li>Pārbaudīt, vai skaitlis ir pirmskaitlis ar pilno pārlasi.</li>
    <li>Pārbaudīt, vai skaitlis (ar lielu varbūtību) ir pirmskaitlis ar Millera-Rabina testu</li>
    <li>Izmantot kāpinātāja bināro pierakstu, lai efektīvi kāpinātu lielās pakāpēs</li>
    <li>Izveidot privātās/publiskās atslēgas pāri RSA kriptosistēmā</li>
    <li>Iekodēt un atkodēt, izmantojot RSA publiskās/privātās atslēgas pāri</li>
    <li>Izveidot publisko atslēgu un divas privātās atslēgas Difī-Helmana diskrēto logaritmu kriptosistēmā</li>
</ol>

<dl>
	<dt>Multiplikatīvās grupas pēc pirmskaitļa moduļa</dt>
	<dd><ol type="A">
	<li>(M) Naturāla skaitļa pozitīvo dalītāju struktūra (simetriski pret kvadrātsakni)</li>
	<li>(M) Mazā Fermā teorēma</li>
	<li>(M) Eilera funkcija</li>
	<li>(M) Eilera teorēma</li>
	<li>(T) Millera-Rabina apliecinājums tam, ka skaitlis ir salikts.</li>
	<li>(M) Primitīvā sakne pēc pirmskaitļa moduļa</li>
	<li>(M) Diskrētā logaritma problēma</li>
	</ol></dd>
</dl>
</li>










<li>Lineārās optimizācijas algoritmi

<ol type="a">
	<li>Formulēt LP uzdevumus vispārīgā formā, pārveidot simpleksalgoritma sākumstāvoklī.</li>
	<li>Sastādīt LP modeli optimizācijas veida teksta uzdevumam.</li>
	<li>Sastādīt LP modeli maksimālās plūsmas uzdevumam grafā.</li>
	<li>Formulēt veselo skaitļu LP uzdevumus vispārīgā formā.</li>
	<li>Reducēt Hamiltona ciklu uz veselo skaitļu LP uzdevumu.</li>
	<li>Reducēt dažus citus algoritmiskus uzdevumus (t.sk. NP pilnos) uz veselo skaitļu LP uzdevumiem.</li>
	<li>Attēlot plaknē pieļaujamo apgabalu 2 brīvo mainīgo LP uzdevumam.</li>
	<li>Atzīmēt pieļaujamā apgabala robežai mainīgo, kurš ir 0.</li>
	<li>Sastādīt simpleksalgoritma tabulu.</li>
	<li>Veikt simpleksalgoritma brīvā mainīgā palielināšanu.</li>	
	<li>Samainīt simpleksalgoritma tabulas kolonnas un atgriezt standartformā.</li>
	<li>Pirmā pieļaujamā tuvinājuma atrašana simpleksalgoritmā.</li>
	<li>Pārveidot (nestandartformas) LP uzdevumu par tam duālo.</li>
	<li>Teksta uzdevumos interpretēt gan primāros, gan duālos mainīgos.</li>
	<li>Izmantot dualitātes teorēmu un aprēķināt dualitātes atstarpi.</li>
	<li>Izmantot Hačijana elipsoīda algoritma tilpumu novērtējumu.</li>
	<li>Izpildīt afīnās mērogošanas metodes koordinātu pārveidojumus.</li>
	<li>Atrast afīnās mērogošanas metodes maksimālā pieauguma virzienu.</li>
	<li>Projicēt afīnās mērogošanas metodes virzienu dotajā plaknē</li>
	<li>Atrast afīnās mērogošanas kārtējo tuvinājumu un atgriezties sākotnējos apzīmējumos</li>
</ol>


<dl>
	<dt>Lineārās algebras rezultāti</dt>
	<dd><ol type="A">
	<li>(M) Nelielu lineāru vienādojumu sistēmu risināšana ar mainīgo izslēgšanu</li>
	<li>(M) Identitātes matrica</li>
	<li>(M) Taisnstūrveida matricas rangs</li>
	<li>(M) Gausa izslēgšanas soļi matricās</li>
	<li>(M) Eilera funkcija</li>
	<li>(M) Eilera teorēma</li>
	<li>(T) Millera-Rabina apliecinājums tam, ka skaitlis ir salikts.</li>
	<li>(M) Primitīvā sakne pēc pirmskaitļa moduļa</li>
	<li>(M) Diskrētā logaritma problēma</li>
	</ol></dd>

	<dt>Analītiskās ģeometrijas rezultāti</dt>
	<dd><ol type="A">
    <li>(M) Izliektas kopas jēdziens</li>
    <li>(M) Nepārtrauktas un diferencējamas funkcijas maksimumi</li>
    <li>(M) Lineāras funkcijas lielākā vērtība uz sfēras</li>
    <li>(M) n-Dimensiju vektora projicēšana hiperplaknē.</li>
    </ol></dd>
</dl>
</li>



</ol>



<p>Kursā minētie humanitārie stāsti, ko eksāmenos nepārbaudām</p>

<ol>
	<li>Programmatūras profilēšana</li>
	<li>Ārēju bibliotēku izmantošana saspiešanai; gz, bz2 u.c.</li>
	<li>Kalgari korpuss un saspiešanas metožu salīdzināšana.</li>
	<li>Morzes kods (praktisks neprefiksu kodējums).</li>
	<li>Markova procesi u.c. stohastiskas ķēdes saistībā ar LZ77, LZ78 un Berouza-Vīlera metodēm.</li>
	<li>Arhīvu faili datu noplūdes novēršanas (DLP) rīkos.</li>
	<li>Kvantizācija proporcionālajās vēlēšanās, Senlaga un Donta noapaļošana.</li>
	<li>Datu noslēpšana JPEG u.c. formātos, steganogrāfija.</li>
	<li>Kļūdu detektēšana ar MD5, SHA-256 u.c. hešfunkcijām.</li>
	<li>Kļūdu detekcija kompaktdiskos.</li>
	<li>PGP epastu šifrēšanas standarts.</li>
	<li>Droša SMTP protokola izmantošana.</li>
	<li>Web-of-Trust un PKI infrastruktūras atslēgu autentitātes pārbaudei</li>
</ol>



</body>

</html>


