{% extends "layout.html" %}
{% block title %}Data Structures Fall2020: Assignments{% endblock %}
{% block head %}
{{ super() }}

{% endblock %}


{% block h1 %}Assignments{% endblock %}

{% block content %}

<h2>In-Class Assignments (max 200&permil;)</h2>

<p>These are short paper-based algorithmic tasks done in class; 
about 10-15 minutes long; people who write them from home get 3 extra minutes of work to 
download the paper,  to photograph and to send their solution.</p>

<table border="1" cellspacing="0">
<tr>
<th>Grading ID</th><th>Title</th>
<th>Due Date</th>
<th>Max</th>
<th>Average</th>
</tr>
<tr>
<th>MK01</th>
<td><a href="#">Exercise title</a><br/>
<a href="#">Solution</a></td>
<td>2021-09-02</td>
<td>10&permil;</td>
<td>TBD</td>
</tr>
</table>





<h2>Four Exams (max 300&permil;)</h2>

<p>Exams are done using computer (some programming tasks).</p>






<h2>Walk-Throughs</h2>

<p>These activities are not graded; they are meant as warm-ups before the labs.</p>


<h2><a name="exercises"></a>Coding Exercises (max 500&permil;)</h2>



{% endblock %}


</body>
</html>

