{% extends "layout_topics.html" %}

{% block title %}Home{% endblock %}

{% block before_accordion %}


<p>The topics are divided into the following subcategories:</p>
<ol type="1">
<li>C++ and Object Orientation, building data structures with arrays and pointers (4 weeks).</li>
<li>Introduce data structures as abstract data structures ADTs and their STL implementations (3 weeks).</li> 
<li>Implement data structures without C++ and solve more algorithmic tasks (7 weeks).</li> 
</ol>

<p><b>Data Structures Fall2020 (PBM763) Syllabus:</b>
<a href="../data-structures-bin/data-structures-algorithms-fall-2021.docx">Fall 2021</a>.<br/>

<p>Find the list of topics for every week:</b> Concepts,  
<span style="color:blue">Exercises</span>, <span style="color:green">Coding</span>.</p>

<p><b>Disclaimer:</b> All the external links to readings and videos only point to task/topic scope; 
their purpose is illustrative. They should NOT be considered assignments or part of the class.</p>

{% endblock %}

