{% extends "layout.html" %}
{% block title %}Data Structures Fall2020: Assignments{% endblock %}
{% block head %}
{{ super() }}
<style>
h2 {
  color: #990000;
}
table.schedule tbody.cpp td:first-child {
    background-color:#1B9E77;
    color: white;
}

table.schedule tbody.adt td:first-child {
    background-color: #D95F02;
    color: white;
}

table.schedule tbody.structures td:first-child {
    background-color: #7570B3;
    color: white;
}

table.schedule tbody.paradigms td:first-child {
    background-color: #E7298A;
    color: white;
}
</style>
{% endblock %}

{% block h1 %}Slides{% endblock %}

{% block content %}

<p><small>Slides are in PPTX. Upcoming or unavailable slide decks are grayed out.<br/>
Slides may change without warning; to acquire theory it is safer to rely on the textbook 
or things posted in ORTUS.</small></p>

<table class="schedule">
<tr style="background-color:#dddddd"><th colspan="2">Module</th><th>Dates</th></tr>
{% for jsonWeek in jsonModules %}
<tbody class="{{jsonWeek[0].part}}">
{% for tale in jsonWeek %}
<tr>
<td><small>{{tale.subid}}</small></td>
{% if tale.show == "yes" %}
<!-- <td><small><a href="../data-structures-tales/{{tale.subdir}}.pptx">{{tale.title}}</a></small></td>-->
<td><small><a href="http://85.254.250.28/data-structures/{{tale.subdir}}.pptx">{{tale.title}}</a></small></td>
{% else %}
<td><small style="color:#aaaaaa;">{{tale.title}}</small></td>
{% endif %}
{% if loop.index == 1 %}
<td rowspan="{{jsonWeek|length}}"><small>{{tale.date}} ...<br/>{{tale.endDate}}</small></td>
{% endif %}
</tr>
{% endfor %}
</tbody>
{% endfor %}
</tbody>
</table>





{% endblock %}


</body>
</html>

