<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
<link rel="stylesheet" type="text/css" href="../static/style.css"/>
<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
  <![endif]-->
</head>

<body>
<h1>Skaitļu teorijas uzdevumi: Prasmju analīze</h1>


<a href="index.html">Uz uzdevumu lapu</a>

<table class="tasks">
<colgroup>
<col class="aaa">
<col class="bbb">
<col class="ccc">
</colgroup><tbody>
<tr><th>Prasmes kods</th><th>Apraksts</th><th>Piemēri</th></tr>
{% for task in lst_tasks %}
<tr class="{{ loop.cycle('odd', 'even') }}">
<td><code>{{task.levels|join('.')}}{{task.whitespace}}</code>{{task.id}}</td>
<td>{{task.esc_desc}}</td>
<td>{{task.html_links}}</td>
</tr>
{% endfor %}
</table>



<p style="font-size:120%"><b>Prasmes anotācijās, kuru nav prasmju kokā</b></p>

<table class="tasks">
<tr><th>Prasmes kods</th><th>Piemēri</th></tr>
{% for nfound in nfound_lst %}
<tr class="{{ loop.cycle('odd', 'even') }}"><td>{{nfound.id}}</td><td>{{nfound.html_links}}</td></tr>
{% endfor %}
</table>


</html>

