<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
<link rel="stylesheet" type="text/css" href="../style/style.css"/>

</head>

<body>
<h1>Discrete Structures: Exercises</h1>

<table border="0" cellspacing="2">
<tr style="font-size:120%">
<td style="background-color:#de6745;color:white;padding:2px 10px 2px 10px"><a style="color:white" href="index.html">Home</a></td>
<td style="background-color:#f1a72c;color:white;padding:2px 10px 2px 10px"><a style="color:white" href="assignments.html">Assignments</a></td>
<td style="background-color:#40ce7c;color:white;padding:2px 10px 2px 10px"><b>Exercises</b></td>
<td style="background-color:#4ca7dc;color:white;padding:2px 10px 2px 10px"><a style="color:white" href="proofs.html">Proofs</a></td>
<td style="background-color:#9e69af;color:white;padding:2px 10px 2px 10px"><a style="color:white" href="references.html">References</a></td>
<td>
<select ONCHANGE="location = this.options[this.selectedIndex].value;">
{% for item in nav_items %}
{% if item.subdir == course %}
    <option value="../{{item.subdir}}/index.html" selected="selected">{{item.title}}</option>
{% else %}
    <option value="../{{item.subdir}}/index.html">{{item.title}}</option> 
{% endif %}
{% endfor %}
</select>
</td>
</tr>
</table>

<h2>Lab Exercises</h2>

<ul>
<li><a href="../discrete-bin/homeworks/discrete-lab-week01.pdf">Lab01 on 2020-01-06</a></li>
<li><a href="../discrete-bin/homeworks/discrete-lab-week02.pdf">Lab02 on 2020-01-13</a></li>
</ul>

<h2>Quizzes</h2>

<ul>
<li><a href="../discrete-bin/homeworks/quiz-week01.pdf">Quiz, Week1</a>
(<a style="font-size:80%;" href="../discrete-bin/homeworks/quiz-sample-week01.pdf">Sample Quiz, Week1</a>)
</li>
</ul>

<!--
<p><small>Keyboard shortcuts in Reveal.JS slidedecks:
<b>S</b> - Speaker's view; <b>F</b> - Full-screen view; 
<b>Esc</b> - Overview; <b>Home</b> - To the Start; <b>End</b> - To the End; 
arrows <b>Left</b>, <b>Right</b>, <b>Up</b>, <b>Down</b>.</small></p>

<table class="schedule">
<tr><th>Topic</th><th>Date</th></tr>
{% for tale in tales %}
<tr><td>

{% if tale.nolink is defined %}
<i>{{tale.title}}</i></li>
{% else %}
<a href="../discrete-tales/{{tale.dir}}/content.html">{{tale.title}}</a>
{% if tale.attachment is defined %}
<br/><a href="{{tale.attachment}}">{{tale.attachmentTitle}}</a>
{% endif %}
{% endif %}
</td>
<td>{{tale.date}}</td></tr>
{% endfor %}
</table>
-->


</body>
</html>