<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
<link rel="stylesheet" type="text/css" href="../style/style.css"/>

</head>

<body>
<h1>Discrete Structures: References</h1>

<table border="0" cellspacing="2">
<tr style="font-size:120%">
<td style="background-color:#de6745;color:white;padding:2px 10px 2px 10px"><a style="color:white" href="index.html">Home</a></td>
<td style="background-color:#f1a72c;color:white;padding:2px 10px 2px 10px"><a style="color:white" href="assignments.html">Assignments</a></td>
<td style="background-color:#40ce7c;color:white;padding:2px 10px 2px 10px"><a style="color:white" href="agenda.html">Agenda</a></td>
<td style="background-color:#4ca7dc;color:white;padding:2px 10px 2px 10px"><a style="color:white" href="proofs.html">Proofs</a></td>
<td style="background-color:#9e69af;color:white;padding:2px 10px 2px 10px"><b>References</b></td>
<td>
<select ONCHANGE="location = this.options[this.selectedIndex].value;">
{% for item in nav_items %}
{% if item.subdir == course %}
    <option value="../{{item.subdir}}/index.html" selected="selected">{{item.title}}</option>
{% else %}
    <option value="../{{item.subdir}}/index.html">{{item.title}}</option> 
{% endif %}
{% endfor %}
</select>
</td>
</tr>
</table>

<p><b>Related Courses in Other Schools</b></p>

<ul>
<li><a href="https://cse.buffalo.edu/~knepley/classes/cse191/Syllabus.html">SUNY Buffalo: 
Discrete Structures</a></li>
<li><a href="https://www.cs.cornell.edu/~rafael/discmath.pdf">Cornell: A Course in Discrete Structures</a></li>
</ul>

<p><b>Reading materials for Individual Presentations</b></p>

TBD.

<p><b>Additional Reading</b></p>

<ul>
<li><a href="https://terrytao.wordpress.com/2008/12/14/on-multiple-choice-questions-in-mathematics/">Terry Tao. 
On Multiple-Choice Questions in Mathematics</a></li>
<li><a href="http://home.lu.lv/~janiszu/courses/elog/04elog.logic.pdf">Izteikumu 
loģikas un predikātu rēķinu elementi. J.Zuters</a></li>
<li><a href="https://www.youtube.com/watch?v=uTxRF5ag27A">Bjarne Stroustrup, the author of C++</a> -
The importance of data types in programming languages.</li>
</ul> 



</body>
</html>

