{% extends "layout.html" %}

{% block title %}Uzdevumi{% endblock %}

{% block content %}


<!--
<p><b>2021./2022.m.g. IMO izlases nodarbības</b></p>


<ul>
<li><a href="/training/numtheory/nms-imo-izlase-2022a.pdf">NMS IMO izlase: Darba lapa #1</a> (2022-06-06).</li>
<li><a href="/training/numtheory/nms-imo-izlase-2022b.pdf">NMS IMO izlase: Darba lapa #2</a> (2022-06-13).</li>
</ul>
-->



<p><b>2022./2023.m.g. junioru skaitļu teorijas nodarbības</b></p>

<table border="1" cellspacing="0" style="margin-bottom:10px;">
<tr>
  <th>Datums</th>
  <th>Teorijas materiāls</th>
  <th>Darba lapa</th>
  <th>Mājasdarbs</th>
  <th>Mājasdarba termiņš</th>
</tr>
<tr>
  <td>2022-10-22</td>
  <td><a href="/training/numtheory/ntjun01-divisibility.pdf">NT.Jun.01: Pirmskaitļi un dalāmība</a></td>
  <td><a href="/training/numtheory/2022-2023-worksheet01.pdf">Izdales lapa #1</a><br/>
  <a href="/training/numtheory/2022-2023-worksheet01-solutions.pdf">Izdales lapa #1 (atrisinājumi)</a></td>
  <td><a href="/training/numtheory/2022-2023-homework01.pdf">Mājasdarbs #1</a></td>
  <td>2022-11-12</td>
</tr>
<tr>
  <td>2022-11-12</td>
  <td><a href="/training/numtheory/ntjun02-modular-arithmetic.pdf">NT.Jun.02: Modulārā aritmētika</a></td>
  <td>TBD</td>
  <td>TBD</td>
  <td>TBD</td>
  </tr>
</table>



<!--
<br/>
<b>Lasāmā grāmata skaitļu teorijā</b>

<ul>
<li><a href="/training/numtheory/ntjun01-divisibility.pdf">NT.Jun.01: Pirmskaitļi un dalāmība (<b>2022-10-22</b>)</a></li>
<li><a href="/training/numtheory/ntjun02-modular-arithmetic.pdf">NT.Jun.02: Modulārā aritmētika</a></li>
<li><a href="/training/numtheory/ntjun03-crt.pdf">NT.Jun.03: Ķīniešu atlikumu teorēma</a></li>
<li><a href="/training/numtheory/ntjun04-multiplicative.pdf">NT.Jun.04: Multiplikatīvas funkcijas</a></li>
<li><a href="/training/numtheory/ntjun05-valuations.pdf">NT.Jun.05: Valuācijas</a></li>
<li><a href="/training/numtheory/ntjun06-rational.pdf">NT.Jun.06: Racionāli un iracionāli skaitļi</a></li>
</ul>
-->


<hr style="width:50%"/>

<p><b>2020./2021.m.g. junioru skaitļu teorijas uzdevumi</b></p>

<ul>
<li><a href="/training/numtheory/2020-2021-homework01-divisibility.pdf">Mājasdarbs #1</a> (2020-10-10, termiņš 2020-10-31).<br/>
<a href="/training/numtheory/2020-2021-homework01-divisibility-solutions.pdf">Mājasdarba #1 atrisinājumi</a></li>
<li><a href="/training/numtheory/2020-2021-homework02-modular-arithmetic.pdf">Mājasdarbs #2</a> (2020-11-15, termiņš 2020-12-05).
</li>
<li><a href="/training/numtheory/2020-2021-homework03-crt.pdf">Mājasdarbs #3</a> (2021-01-31, termiņš 2021-02-20).
</li>
<li><a href="/training/numtheory/2020-2021-homework04-rational-irational.pdf">Mājasdarbs #4</a> (2021-03-27, termiņš 2021-04-17).
</li>
</ul>


<!--
<br/>
<h2>ATV nodarbības</h2>

<table class="schedule">
<tr style="background-color:#dddddd"><th colspan="2">Tēma</th><th>Datums</th></tr>
<tbody class="general">

<tr>
<td><small>25.(1-6)</small></td>
<td><small><a href="/training/numtheory/atv-homework02_5-rational-irrational.pdf">Racionāli, iracionāli skaitļi</a></small></td>
<td>2020-12-29</td>
</tr>

<tr>
<td><small>25.(1-6)</small></td>
<td><small><a href="/training/numtheory/atv-25-1-explanation.pdf">Risinājums 25.2 (Pagrieziena matricas)</a></small></td>
<td>&nbsp;</td>
</tr>


<tr>
<td><small>100.(1-4)</small></td>
<td><small><a href="/training/numtheory/atv-worksheet-week01.pdf">Dažādi BW uzdevumi (2019.g. atlase)</a></small></td>
<td>2021-01-04</td>
</tr>
</tbody>

<tbody class="lossless">
<tr>
<td><small>101.(1-22)</small></td>
<td><small><a href="/training/numtheory/atv-worksheet-week02.pdf">Matemātiskā indukcija (k uz k+1)</a></small></td>
<td>2021-01-11</td>
</tr>

<tr>
<td><small>101.(23-38)</small></td>
<td><small><a href="/training/numtheory/atv-worksheet-week03.pdf">Matemātiskā indukcija (citas shēmas)</a></small></td>
<td>2021-01-18</td>
</tr>

<tr>
<td><small>101.(39-52)</small></td>
<td><small><a href="/training/numtheory/atv-worksheet-week04.pdf">Matemātiskā indukcija (hipotēzes pastiprināšana)</a></small></td>
<td>2021-01-25</td>
</tr>
</tbody>

<tbody class="general">
<tr>
<td><small>100.(5-9)</small></td>
<td><small><a href="/training/numtheory/atv-worksheet-week05.pdf">Dažādi BW uzdevumi (2019.g. atlase)</a></small></td>
<td>2021-02-03</td>
</tr>
</tbody>



<tbody class="lossy">
<tr>
<td><small>102.(1-27)</small></td>
<td><small><a href="/training/numtheory/atv-worksheet-week06.pdf">Dirihlē princips (atlikumi un to kombinācijas)</a></small></td>
<td>2021-02-10</td>
</tr>
</tbody>


<tbody class="general">
<tr>
<td><small>112.(1-5)</small></td>
<td><small><a href="/training/numtheory/atv-worksheet-week12.pdf">Kombinatorikas uzdevumu komplekts</a></small></td>
<td>2021-03-24</td>
</tr>
</tbody>

<tbody class="general">
<tr>
<td><small>115.(1-5)</small></td>
<td><small><a href="/training/numtheory/atv-worksheet-week15.pdf">Varbūtību uzdevumu komplekts</a></small></td>
<td>2021-04-16</td>
</tr>
</tbody>

<tbody class="general">
<tr>
<td><small>117.(1-5)</small></td>
<td><small><a href="/training/numtheory/atv-worksheet-week17.pdf">Notikumu neatkarība, Gadījumlielumi, Beijesa teorēma</a></small></td>
<td>2021-04-28</td>
</tr>
</tbody>

</table>


<h3>Baltic Way olimpiādes</h3>

<ul style="font-size:90%">
<li><a href="/training/numtheory/BalticWay/bw2009-shortlist.pdf">Baltic Way, 2009</a></li>
<li><a href="/training/numtheory/BalticWay/bw2010-shortlist.pdf">Baltic Way, 2010</a></li>
<li><a href="/training/numtheory/BalticWay/bw2011-shortlist.pdf">Baltic Way, 2011</a></li>
<li><a href="/training/numtheory/BalticWay/bw2012-shortlist.pdf">Baltic Way, 2012</a></li>
<li><a href="/training/numtheory/BalticWay/bw2013-shortlist.pdf">Baltic Way, 2013</a></li>
<li><a href="/training/numtheory/BalticWay/bw2014-shortlist.pdf">Baltic Way, 2014</a></li>
<li><a href="/training/numtheory/BalticWay/bw2015-shortlist.pdf">Baltic Way, 2015</a></li>
<li><a href="/training/numtheory/BalticWay/bw2016-shortlist.pdf">Baltic Way, 2016</a></li>
<li><a href="/training/numtheory/BalticWay/bw2018-shortlist.pdf">Baltic Way, 2018</a></li>
</ul>






<h3>Varbūtības (KhanAcademy)</h3>

<p>KhanAcademy testi ir mazliet padziļināts vidusskolas standarts par varbūtībām un statistiku.</p>

<ul>
<li><a href="https://www.khanacademy.org/math/statistics-probability">Statistics and Probability</a>.
Ieteicamās tēmas:
<ul>
<li><a href="https://www.khanacademy.org/math/statistics-probability/summarizing-quantitative-data">Summarizing quantitative data</a>
(kā novērojumu datiem rēķina vidējo vērtību, dispersiju, standartnovirzi)</li>
<li><a href="https://www.khanacademy.org/math/statistics-probability/modeling-distributions-of-data">Modelling data distributions</a>
(kā gadījumlielumam, kas atbilst pieņēmumam par normālo sadalījumu, pārbauda nevienādības)</li>
<li><a href="https://www.khanacademy.org/math/statistics-probability/random-variables-stats-library">Random variables</a>
(gadījumlielumi un daži noderīgi piemēri - binomiālais, ģeometriskais, Puasona u.c.)</li>
</ul>
</li>
<li><a href="https://www.khanacademy.org/math/ap-statistics/probability-ap">Advanced Placement (AP): Probability</a> (AP - kaut kas
līdzīgs "augstākajam līmenim" matemātikas standartā pēc Skola2030 reformas)</li>
<li><a href="https://www.khanacademy.org/math/ap-statistics/random-variables-ap">Advanced Placement (AP): Random Variables</a> - vēl šis tas
par gadījumlielumiem</li>
</ul>
-->


<p><b>Literatūra</b></p>

<ol>
<li><a href="/training/numtheory/atv-multiplicative-group-summary.pdf">Atlikumu multiplikatīvās īpašības (mod p)</a></li>
<li><a href="https://www.math.brown.edu/johsilve/Frint4thChapter21.pdf">Is −1 a Square Modulo p? Is 2?</a> By Joseph Silverman</li>
<li>Lifting The Exponent Lemma (LTE), v.3. By Amir Hossein Parvardi. 2011.</li>
<li><a href="https://en.wikipedia.org/wiki/Legendre_symbol">Wikipedia: Legendre Symbol</a></li>
</ol>



{% endblock %}
