{% extends "layout.html" %}

{% block title %}Sākums{% endblock %}

{% block content %}

<p>Sk. <a href="https://www.nms.lu.lv/nodarbibas/izlases-nodarbibas/2021/2022-macibu-gads/">NMS nodarbību grafiku</a>.</p> 

<p>Mācību kurss "Skaitļu teorija" domāts vidusskolēniem, kuri gatavojas dažādu līmeņu
matemātikas sacensībām un vēlas mācīties risināt grūtus uzdevumus par
veselu skaitļu aritmētiku - vienādojumi veselos skaitļos, skaitļu dalāmība, pirmskaitļi, utml.
Šī kursa apjoms ir šobrīd ir 6 nodarbības - katra 3.5 stundu garumā (atbilstoši NMS izlases nodarbību ikgada grafikam).
    To var viegli pārveidot par 16 nodarbību ciklu, kur katra nodarbība ir 90 minūtes,
    kas ir aptuveni 2 kredītpunkti. Nodarbību teoriju sk. sadaļā "Teorija".
    Sadaļa "Uzdevumi" tiek veidota no jauna, daži linki var nestrādāt.
</p>



<p>Dažas tēmas (pirmskaitļu meklēšanas algoritmi, Eiklīda algoritms,
    Ķīniešu atlikumu teorēma) var noderēt arī algoritmiskās domāšanas izkopšanai un
    gatavojoties informātikas olimpiādēm.</p>


<!--
TODO - convert this into a video?
<h2>0. nodarbība (Junioru un senioru ievadnodarbība)</h2>
<a href="../static/numtheory-slides/ntjun00-introduction/index.html">Ievadnodarbība (HTML)</a>
-->

<!-- Pirmskaitļi un dalāmība: BWTST.2018.14. BW.2016.2; BW.2016.11. BWTST.2015.13. -->
<!-- Modulārā aritmētika: BWTST.2018.13; CGMO.2019.5; IMO.2016.N3. BWTST.2016.16. BWTST.2016.17. BW.2016.5. -->
<!-- Indukcijas piemēri: IMOSHL.2018.N3; BWTST.2015.15. -->
<!-- Valuāciju piemēri: IMO.2019.4; BW.2015.16; BW.2015.17; CGMO.2012.8. -->
<!-- Multiplikatīvu funkciju piemēri: IMOSHL.2018.N1; CGMO.2018.3. -->
<!-- Ķīniešu atlikumu teorēma: IMO.2009.1; USAMO.2008.1; BW.2016.2. -->
<!-- Algebrisku pārveidojumu piemēri: IMOSHL.2018.N2; BW.2016.4; BW.TST.2018.3; CGMO.2019.2. -->
<!-- Polinomi ar veseliem koeficientiem: IMOSHL.2016.N1. IMOSHL.2009.N2; IMOSHL.2010.N3; IMOSHL.2011.N2. -->
<!-- Grafi, well-ordering principle: IMO.SHL.2014.N6; IMOSHL.2017.N3; BW.TST.2016.6; BW.2016.11; CGMO.2015.4. -->
<!-- Nevienādību piemēri: IMOSHL.2017.N1; BW.TST.2018.16. -->




{% endblock %}



