<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>

<link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">

<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
  <![endif]-->
</head>

<body>


<h1>Skaitļu teorija: Lekciju bildes</h1>



<table border="0" cellspacing="2">
<tr style="font-size:120%">
<td style="background-color:#de6745;color:white;padding:2px 10px 2px 10px"><a style="color:white" href="index">Sākums</a></td>
<td style="background-color:#f1a72c;color:white;padding:2px 10px 2px 10px"><a style="color:white" href="assignments">Uzdevumi</a></td>
<td style="background-color:#40ce7c;color:white;padding:2px 10px 2px 10px"><b>Lekciju bildes</b></td>
<td style="background-color:#4ca7dc;color:white;padding:2px 10px 2px 10px"><a style="color:white" href="exams">Sacensības</a></td>
<td style="background-color:#9e69af;color:white;padding:2px 10px 2px 10px"><a style="color:white" href="references">Norādes</a></td>
<td>
<select ONCHANGE="location = this.options[this.selectedIndex].value;">
{% for item in nav_items %}
{% if item.subdir == course %}
    <option value="../{{item.subdir}}/index" selected="selected">{{item.title}}</option>
{% else %}
    <option value="../{{item.subdir}}/index">{{item.title}}</option> 
{% endif %}
{% endfor %}
</select>
</td>
</tr>
</table>












<p>Speciālās komandas HTML prezentācijās: 
<b>S</b> - spīkera skats; <b>F</b> - pilnekrāna režīms; 
<b>Esc</b> - pārskats; <b>Home</b> - uz sākumu; <b>End</b> - uz beigām; 
bultiņas <b>Left</b>, <b>Right</b>, <b>Up</b>, <b>Down</b>.</p>


<ul>


<li><a href="../numtheory-tales/ntjun01-divisibility/index.html">Jun01: Pirmskaitļi un dalāmība</a> (2020-10-10)</li>



<li><a href="http://18.193.16.199/nt/slides/ntjun02-modular-arithmetic.pptx">Jun02: Modulārā aritmētika (PPTX)</a> (2020-11-14)</li>



<li><a href="../numtheory-tales/ntjun03-crt/index.html">Jun03: Ķīniešu atlikumu teorēma</a> (2021-01-30)</li>



<li><a href="http://18.193.16.199/nt/slides/ntjun04-rational-irational.pptx">Jun04: Racionāli, iracionāli skaitļi (PPTX)</a> (2021-03-27)</li>


</ul>



<hr style="width:50%"/>




<p><b>Dirihlē princips:</b> 
<a href="https://www.youtube.com/playlist?list=PL9y-YK2_qNJEC9fEjKiPaWsKtGX2a3aCz">YouTube atskaņošanas saraksts</a></p> 

<ul>
<li><a href="../numtheory-tales/other/dirichlet01-intro.pptx">Dirihlē princips 1.daļa: Ievads</a></li>
<li><a href="../numtheory-tales/other/dirichlet02-generalizations.pptx">Dirihlē princips 2.daļa: Vispārinājumi</a></li>
<li><a href="../numtheory-tales/other/dirichlet03-combinatorics.pptx">Dirihlē princips 3.daļa: Lietojumi kombinatorikā</a></li>
<li><a href="../numtheory-tales/other/dirichlet04-shapes.pptx">Dirihlē princips 4.daļa: Figūras</a></li>
<li><a href="../numtheory-tales/other/dirichlet05-number-theory.pptx">Dirihlē princips 5.daļa: Lietojumi skaitļu teorijā</a></li>
</ul>


</section>




<!--
<ul>
{% for tale in global_tales %}
{% if tale.nolink is defined %}
<li><i>{{tale.title}} (TBD)</i> ({{tale.date}})</li>
{% else %}
<li><a href="../numtheory-tales/{{tale.dir}}/content.html">{{tale.title}}</a> ({{tale.date}})</li>
{% endif %}
{% endfor %}
</ul>

<hr style="width:50%"/>
-->

<section style="font-size:80%">
<b>Nacionālā līmeņa olimpiāde (7.-12.klašu tēmas):</b> 
Elementārās matemātikas tēmas, lai pārvarētu Latvijas novadu/valsts 
olimpiāžu filtrus. Junioru nodarbībās šos materiālus tieši neizmanto, bet tie
ir kursa priekšnoteikums (<i>prerequisite</i>).
Sk. arī <a href="/problembase/tasks.html">Vidusskolēnu prasmju saraksts</a>.</p>


<ul>
{% for tale in local_tales %}
{% if tale.dir=='numtheory-recurrence-relation' %}
<li><a href="../numtheory-tales/{{tale.dir}}/content.html">{{tale.title}} (Emīls)</a></li>
{% else %}
<li><a href="../numtheory-tales/{{tale.dir}}/content.html">{{tale.title}}</a></li>
{% endif %}
{% endfor %}
</ul>

</section>





</body>

</html>

