{% extends "layout.html" %}

{% block title %}Teorija{% endblock %}

{% block content %}




<!--
<p>Speciālās komandas HTML prezentācijās: 
<b>S</b> - spīkera skats; <b>F</b> - pilnekrāna režīms; 
<b>Esc</b> - pārskats; <b>Home</b> - uz sākumu; <b>End</b> - uz beigām; 
bultiņas <b>Left</b>, <b>Right</b>, <b>Up</b>, <b>Down</b>.</p>
-->

<br/>
<b>Mācību līdzeklis skaitļu teorijā</b>

<ul>
<li><a href="/training/numtheory/ntjun01-divisibility.pdf">NT.Jun.01: Pirmskaitļi un dalāmība</a></li>
<li><a href="/training/numtheory/ntjun02-modular-arithmetic.pdf">NT.Jun.02: Modulārā aritmētika</a></li>
<li><a href="/training/numtheory/ntjun03-crt.pdf">NT.Jun.03: Ķīniešu atlikumu teorēma</a></li>
<li><a href="/training/numtheory/ntjun04-multiplicative.pdf">NT.Jun.04: Multiplikatīvas funkcijas</a></li>
<li><a href="/training/numtheory/ntjun05-valuations.pdf">NT.Jun.05: Valuācijas</a></li>
<li><a href="/training/numtheory/ntjun06-rational.pdf">NT.Jun.06: Racionāli un iracionāli skaitļi</a></li>
</ul>


<p><a href="/training/numtheory/ntjun-textbook-single-solutions.pdf">Visas 6 daļas 1 failā (ar atrisinājumiem)</a></p>
<!--
Skolotāji un pulciņu vadītāji var saņemt šo mācību līdzekli ar uzdevumu atrisinājumiem 
(lūdzam sazināties ar <a href="https://www.nms.lu.lv/">LU NMS</a>). 
-->

<hr style="width:50%"/>




<p><b>Dirihlē princips:</b> 
<a href="https://www.youtube.com/playlist?list=PL9y-YK2_qNJEC9fEjKiPaWsKtGX2a3aCz">YouTube atskaņošanas saraksts</a></p> 

<ul>
<li><a href="/training/numtheory/dirichlet01-intro.pptx">Dirihlē princips 1.daļa: Ievads</a></li>
<li><a href="/training/numtheory/dirichlet02-generalizations.pptx">Dirihlē princips 2.daļa: Vispārinājumi</a></li>
<li><a href="/training/numtheory/dirichlet03-combinatorics.pptx">Dirihlē princips 3.daļa: Lietojumi kombinatorikā</a></li>
<li><a href="/training/numtheory/dirichlet04-shapes.pptx">Dirihlē princips 4.daļa: Figūras</a></li>
<li><a href="/training/numtheory/dirichlet05-number-theory.pptx">Dirihlē princips 5.daļa: Lietojumi skaitļu teorijā</a></li>
</ul>


</section>




<!--
<ul>
{% for tale in global_tales %}
{% if tale.nolink is defined %}
<li><i>{{tale.title}} (TBD)</i> ({{tale.date}})</li>
{% else %}
<li><a href="../numtheory-tales/{{tale.dir}}/content.html">{{tale.title}}</a> ({{tale.date}})</li>
{% endif %}
{% endfor %}
</ul>

<hr style="width:50%"/>
-->


<!--
<section style="font-size:80%">
<b>Nacionālā līmeņa olimpiāde (7.-12.klašu tēmas):</b> 
Elementārās matemātikas tēmas, lai pārvarētu Latvijas novadu/valsts 
olimpiāžu filtrus. Junioru nodarbībās šos materiālus tieši neizmanto, bet tie
ir kursa priekšnoteikums (<i>prerequisite</i>).
Sk. arī <a href="http://linen-tracer-682.appspot.com/problembase/tasks.html">Vidusskolēnu prasmju saraksts</a>.</p>



<ul>
{% for tale in local_tales %}
<li><a target="_blank" href="../static/numtheory-slides/{{tale.dir}}/index.html">{{tale.title}}</a></li>
{% endfor %}
</ul>


<ul>
<li><a href="../static/numtheory-slides/ntnine01-arithmetic-progressions/index.html">Aritmētiskas progresijas</a></li>
<li><a href="../static/numtheory-slides/ntnine02-numtheory-geom-progressions/index.html">Ģeometriskas progresijas</a></li>
<li><a href="../static/numtheory-slides/ntnine03-recurrence-relations/index.html">Rekurences attiecības</a></li>
<li><a href="../static/numtheory-slides/tale-numtheory-grade10/index.html">10.klases mix</a></li>

</ul>

</section>
-->


{% endblock %}



