<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>

<link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">

<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
  <![endif]-->
  
<style>
h2 {
  color: #990000;
}
</style>
</head>








<body>
<h1>Data Structures (Fall2020): Assignments</h1>


<table border="0" cellspacing="2">
<tr style="font-size:120%">
<td style="background-color:#de6745;color:white;padding:2px 10px 2px 10px"><a style="color:white" href="index">Topics</a></td>
<td style="background-color:#f1a72c;color:white;padding:2px 10px 2px 10px"><b>Assignments</b></td>
<td style="background-color:#40ce7c;color:white;padding:2px 10px 2px 10px"><a style="color:white" href="slides">Slides</a></td>
<td style="background-color:#4ca7dc;color:white;padding:2px 10px 2px 10px"><a style="color:white" href="algorithms">Algorithms</a></td>
<td style="background-color:#9e69af;color:white;padding:2px 10px 2px 10px"><a style="color:white" href="submissions">Code Submissions</a></td>
<td>
<select ONCHANGE="location = this.options[this.selectedIndex].value;">
{% for item in nav_items %}
{% if item.subdir == course %}
    <option value="../{{item.subdir}}/index" selected="selected">{{item.title}}</option>
{% else %}
    <option value="../{{item.subdir}}/index">{{item.title}}</option> 
{% endif %}
{% endfor %}
</select>
</td>
</tr>
</table>

<p>See <a href="http://jlazovskis.com/teaching/datastructures/">Course page by Jānis Lazovskis</a> with worksheets.
Many more worksheets are in ORTUS.</p>



<h2>In-Class Assignments (max 200&permil;)</h2>

<p>These are short paper-based algorithmic tasks done in class; 
about 10-15 minutes long; people who write them from home get 3 extra minutes of work to 
download the paper,  to photograph and to send their solution.  
We had 15 such exercises.
(<i>Sample assignments are just a preview for the real thing, they do not affect grade</i>).</p>

<table border="1" cellspacing="0">
<tr>
<th>Grading ID</th><th>Title</th>
<th>Due Date</th>
<th style="background-color:#dddddd;">Time Est.</td>
<th>Max</th>
<th>Average</th>
</tr>
<tr>
<th>MK01</th>
<td><a href="../data-structures-assignments/assignment01-expr-control.pdf">Bitwise operations, flowcharts</a><br/>
<a href="../data-structures-assignments/assignment01-sample-expr-control.pdf">Sample</a></td>
<td>2020-09-14</td>
<td style="background-color:#dddddd;">12 min.</td>
<td>10&permil;</td>
<td>TBD</td>
</tr>
<tr>
<th>MK02</th>
<td><a href="../data-structures-assignments/assignment02-arrays.pdf">Arrays, Pointers</a><br/>
<a href="../data-structures-assignments/assignment02-sample-arrays.pdf">Sample</a></td>
<td>2020-09-18</td>
<td style="background-color:#dddddd;">12 min.</td>
<td>10&permil;</td>
<td>TBD</td>
</tr>
<tr>
<th>MK03</th>
<td><a href="../data-structures-assignments/assignment03-stl.pdf">Using STL</a><br/>
<a href="../data-structures-assignments/assignment03-sample-stl.pdf">Sample</a></td>
<td>2020-10-01</td>
<td style="background-color:#dddddd;">12 min.</td>
<td>10&permil;</td>
<td>8.28&permil;</td>
</tr>
<tr>
<th>MK04</th>
<td><a href="../data-structures-assignments/assignment04-pointers.pdf">Pointer Operations</a><br/>
<a href="../data-structures-assignments/assignment04-sample-pointers.pdf">Sample</a></td>
<td>2020-10-07</td>
<td style="background-color:#dddddd;">12 min.</td>
<td>10&permil;</td>
<td>TBD</td>
</tr>
<tr>
<th>MK05</th>
<td><a href="../data-structures-assignments/assignment05-big-o.pdf">Big-O-Notation</a><br/>
<a href="../data-structures-assignments/assignment05-sample-big-o.pdf">Sample</a></td>
<td>2020-10-14</td>
<td style="background-color:#dddddd;">12 min.</td>
<td>10&permil;</td>
<td>4.61&permil;</td>
</tr>


<tr>
<th>MK06</th>
<td><a href="../data-structures-assignments/assignment06-heaps.pdf">Heaps</a><br/>
<a href="../data-structures-assignments/assignment06-sample-heaps.pdf">Sample</a></td>
<td>2020-10-28</td>
<td style="background-color:#dddddd;">12 min.</td>
<td>10&permil;</td>
<td>TBD</td>
</tr>


<tr>
<th>MK07</th>
<td><a href="../data-structures-assignments/assignment07-hashtables.pdf">Hashtables</a><br/>
<a href="../data-structures-assignments/assignment07-sample-hashtables.pdf">Sample</a></td>
<td>2020-11-05</td>
<td style="background-color:#dddddd;">12 min.</td>
<td>10&permil;</td>
<td>TBD</td>
</tr>

<tr>
<th>MK08</th>
<td><a href="../data-structures-assignments/assignment08-bsts.pdf">Binary Trees</a><br/>
<a href="../data-structures-assignments/assignment08-sample-bsts.pdf">Sample</a></td>
<td>2020-11-11</td>
<td style="background-color:#dddddd;">12 min.</td>
<td>10&permil;</td>
<td>8.39&permil;</td>
</tr>

<tr>
<th>MK09</th>
<td><a href="../data-structures-assignments/assignment09-quicksort.pdf">Quicksort</a><br/>
<a href="../data-structures-assignments/assignment09-sample-quicksort.pdf">Sample</a></td>
<td>2020-11-12</td>
<td style="background-color:#dddddd;">12 min.</td>
<td>10&permil;</td>
<td>8.78&permil;</td>
</tr>


<tr>
<th>MK10</th>
<td><a href="../data-structures-assignments/assignment10-red-black-trees.pdf">Red-Black Trees</a></td>
<td>2020-11-30</td>
<td style="background-color:#dddddd;">12 min.</td>
<td>10&permil;</td>
<td>TBD</td>
</tr>

<tr>
<th>MK11</th>
<td><a href="../data-structures-assignments/assignment11-topological-sort.pdf">Topological Sort</a></td>
<td>2020-12-10</td>
<td style="background-color:#dddddd;">30 min.</td>
<td>20&permil;</td>
<td>TBD</td>
</tr>

<tr>
<th>MK12</th>
<td><a href="../data-structures-assignments/assignment12-strongly-connected.pdf">Strongly Connected Components</a></td>
<td>2020-12-10</td>
<td style="background-color:#dddddd;">30 min.</td>
<td>20&permil;</td>
<td>TBD</td>
</tr>

<tr>
<th>MK13</th>
<td><a href="../data-structures-assignments/assignment13-dijkstra.pdf">Dijkstra's Algorithm</a></td>
<td>2020-12-10</td>
<td style="background-color:#dddddd;">30 min.</td>
<td>20&permil;</td>
<td>TBD</td>
</tr>

<tr>
<th>MK14</th>
<td><a href="../data-structures-assignments/assignment14-bellman-ford.pdf">Bellman-Ford Algorithm</a></td>
<td>2020-12-10</td>
<td style="background-color:#dddddd;">30 min.</td>
<td>20&permil;</td>
<td>TBD</td>
</tr>

<tr>
<th>MK15</th>
<td><a href="../data-structures-assignments/assignment15-mst-prim.pdf">MST Prim's Algorithm</a></td>
<td>2020-12-10</td>
<td style="background-color:#dddddd;">30 min.</td>
<td>20&permil;</td>
<td>TBD</td>
</tr>


</table>





<h2>2 Exams (max 300&permil;)</h2>

<p>Due to the epidemic both exams were remote; notes and external references could be used.</p>

<table border="1" cellspacing="0">
<tr>
<th>Grading ID</th><th>Title</th>
<th>Due Date</th>
<th style="background-color:#dddddd;">Time Est.</td>
<th>Max</th>
<th>Average</th>
</tr>
<tr>
<th>MIDTERM</th>
<td><a href="../data-structures-assignments/midterm.pdf">Midterm</a><br/>
<a href="../data-structures-assignments/midterm-solution.pdf">Midterm Solution</a><br/>
<a href="../data-structures-assignments/sample-stacks-queues.pdf">Sample (Stacks and Queues)</a></td>
<td>2020-10-22</td>
<td style="background-color:#dddddd;">100 min.</td>
<td>150&permil;</td>
<td>110.28&permil;</td>
</tr>
<tr>
<th>FINAL</th>
<td><a href="../data-structures-assignments/final.pdf">Final</a><br/>
<!-- <br/>
<a href="../data-structures-assignments/midterm-solution.pdf">Midterm Solution</a><br/> -->
<a href="../data-structures-assignments/final-sample.pdf">Sample Final</a></td>
<td>2020-12-17</td>
<td style="background-color:#dddddd;">120 min.</td>
<td>150&permil;</td>
<td>TBD</td>
</tr>
</table>







<h2>Walk-Throughs</h2>

<p><small>These activities are not graded.
Most tools introduced here are not mandatory. 
We appreciate, if you inform others about your preferred C++ coding practices.</small></p>

<ul>
<li><a href="../data-structures-bin/virtualbox-walk-through.pdf">Testing Machine on VirtualBox</a><br/>
Install VirtualBox software. Download and run an Xubuntu instance
(optionally - set it up on your own).
Run a minimalistic C++ development environment. Check out, run and test 
some C++ projects from the command-line.<br/>
<small><b>Why do we care?</b> Grading server uses "g++" and similar compilers in Linux; 
you can get advance knowledge, if something is not configured correctly. 
Automating your code to run on Xubuntu Linux 
can point to problems with your configuration; 
it will be also helpful to monitor and to compare running time of algorithms.</small>
</li>
<!--
<dt>Build a C++ Project in Visual Studio Code</dt>
<dd>Create a directory structure for a small C++ project. Use one or more
external C++ classes and their header files. Use the IFNDEF guards to include them properly.
Learn about some Microsoft compiler options.<br/> 
<small><b>Why do we care?</b> This setup can be used to do C++ 
coding on a Windows10 OS machine.</small></dd>



Valgrind: 
https://stackoverflow.com/questions/24935217/how-to-install-valgrind-good
-->
</ul>


<h2><a name="exercises"></a>Coding Exercises (max 500&permil;)</h2>

<p><small>These exercises are meant to write simple C++ programs. We plan 7 or 8 such exercises.</small></p>

<table border="1" cellspacing="0" style="margin-bottom:10px;">
<tr>
  <th>Ortus grade ID</th>
  <th>Title</th>
  <th>Additional Info</th>
  <th>Due Date</th>
  <th style="background-color:#dddddd;">Time Est.</td>
  <th>Max</th>
  <th>Average</th>
</tr>
<tr>
  <th>EX1</th>
  <td><a href="../data-structures-bin/exercise01-periodic-strings.pdf">Periodic strings</a></td>
  <td><a href="../data-structures-bin/palindromes.zip">Palindromes (Sample code)</a></td>
  <td>2020-09-09</td>
  <td style="background-color:#dddddd;">4h</td>
  <td>20&permil;</td>
  <td>12.75&permil;</td>
</tr>
<tr>
  <th>EX2</th>
  <td><a href="../data-structures-bin/exercise02-find-extremes.pdf">Finding extreme students</a></td>
  <td>N/A</td>
  <td>2020-09-11</td>
  <td style="background-color:#dddddd;">4h</td>
  <td>20&permil;</td>
  <td>16.94&permil;</td>
</tr>
<tr>
  <th>EX3</th>
  <td><a href="../data-structures-bin/exercise03-through-the-looking-glass.pdf">Reverse an ordered tree</a></td>
  <td><a href="https://youtu.be/iOHq7BWFQRc">Inverted Trees in advertising</a>;<br/>
  <a href="https://en.wikipedia.org/wiki/Method_stub">What is a stub</a>;<br/>
  <a href="https://en.wikipedia.org/wiki/Encapsulation_(computer_programming)">Encapsulation in programming</a>.</td>
  <td>2020-09-25</td>
  <td style="background-color:#dddddd;">12h</td>
  <td>20&permil;</td>
  <td>8.88&permil;</td>
</tr>
<tr>
  <th>EX4</th>
  <td><a href="../data-structures-bin/exercise04-matrices.pdf">Matrix Operations</a></td>
  <td><a href="../data-structures-bin/ex04-matrices.zip">Operators/Templates (Sample code)</a></td>
  <td>2020-10-05</td>
  <td style="background-color:#dddddd;">4h</td>
  <td>30&permil;</td>
  <td>21.19&permil;</td>
</tr>
<tr>
  <th>EX5</th>
  <td><a href="../data-structures-bin/exercise05-circularly-linked-lists.pdf">Circularly Linked Lists</a></td>
  <td><a href="../data-structures-bin/ex05-circle-list/Makefile">Makefile (also for unit tests)</a>;<br/>
  <a href="../data-structures-bin/ex05-circle-list/Catch2TestRunner.cpp">Catch2TestRunner.cpp</a>.</td>
  <td>2020-10-12</td>
  <td style="background-color:#dddddd;">4h</td>
  <td>30&permil;</td>
  <td>24.38&permil;</td>
</tr>
<tr>
  <th>EX6</th>
  <td><a href="../data-structures-bin/exercise06-shapes.pdf">Shapes and Transformations</a></td>
  <td><a href="../data-structures-bin/ex06-shapes/ex06-shapes-testcases.zip">Testcases (ZIP)</a></td>
  <td>2020-10-26</td>
  <td style="background-color:#dddddd;">12h</td>
  <td>30&permil;</td>
  <td>15.00&permil;</td>
</tr>
<tr>
  <th>EX7</th>
  <td><a href="../data-structures-bin/exercise07-aliens.pdf">Aliens</a></td>
  <td><a href="../data-structures-bin/ex07-aliens/ex07-aliens-testcases.zip">Testcases (ZIP)</a></td>
  <td>2020-11-09</td>
  <td style="background-color:#dddddd;">12h</td>
  <td>100&permil;</td>
  <td>71.50&permil;</td>
</tr>
<tr>
  <th>EX8</th>
  <td><a href="../data-structures-bin/exercise08-balanced-trees.pdf">Balancing Binary Trees</a></td>
  <td><a href="../data-structures-bin/ex08-balanced-trees/ex08-balanced-trees-testcases.zip">Testcases (ZIP)</a></td>
  <td>2020-11-30</td>
  <td style="background-color:#dddddd;">12h</td>
  <td>100&permil;</td>
  <td>59.38&permil;</td>
</tr>
<tr>
  <th>EX9</th>
  <td>Code Reviews (style, leaks, performance)</td>
  <td>&nbsp;</td>
  <td>2020-12-04</td>
  <td style="background-color:#dddddd;">12h</td>
  <td>150&permil;</td>
  <td>123.33&permil;</td>
</tr>

</table>


</body>
</html>


