{% extends "layout.html" %}

{% block title %}Assignments{% endblock %}

{% block content %}

<h2>Homeworks (400&permil; of the grade)</h2>

<p>Each homework has 6 questions (the last one might be technically
more difficult; it is not mandatory and considered a "bonus question").
Each question can earn up to 10&permil; (1 percent) of the total grade.</p>

<table border="1" cellspacing="0">
<tr><th>Title</th><th>Due Date</th><th>Max</th><th>Average</th></tr>
<tr>
<td><a href="../static/discrete2022-pdf/homework01.pdf">HW1: Propositional Logic</a><br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="../static/discrete2022-pdf/homework01-solutions.pdf">HW1: Solutions</a>
</td>
<td>2022-01-13</td>
<td>60&permil;</td>
<td>NA</td>
</tr>

<tr>
<td><a href="../static/discrete2022-pdf/homework02.pdf">HW2: Predicate Logic</a><br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="../static/discrete2021-pdf/homework02-solutions.pdf">HW2: Solutions</a>
</td>
<td>2022-01-20</td>
<td>60&permil;</td>
<td>NA</td>
</tr>

<tr>
<td><a href="../static/discrete2022-pdf/homework03.pdf">HW3: Sets, Relations</a><br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="../static/discrete2021-pdf/homework03-solutions.pdf">HW3: Solutions</a>
</td>
<td>2022-02-04</td>
<td>60&permil;</td>
<td>NA</td>
</tr>


<tr>
<td><a href="../static/discrete2022-pdf/homework04.pdf">HW4: Number theory</a><br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="../static/discrete2021-pdf/homework04-solutions.pdf">HW4: Solutions</a>
</td>
<td>2022-02-12</td>
<td>60&permil;</td>
<td>NA</td>
</tr>

<tr>
<td><a href="../static/discrete2022-pdf/homework05.pdf">HW5: Mathematical Induction</a><br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="../static/discrete2021-pdf/homework05-solutions.pdf">HW5: Solutions</a>
</td>
<td>2022-03-03</td>
<td>60&permil;</td>
<td>NA</td>
</tr>

<tr>
<td><a href="../static/discrete2022-pdf/homework06.pdf">HW6: Graphs</a><br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<!-- <a href="../static/discrete2021-pdf/homework06-solutions.pdf">HW6: Solutions</a> -->
</td>
<td>2022-03-14</td>
<td>60&permil;</td>
<td>NA</td>
</tr>

</table>





<h2>Exams (200+200&permil; of the grade)</h2>

<table border="1" cellspacing="0">
<tr>
<th>Title</th><th>Date</th><th>Max</th><th>Average</th>
</tr>
<tr>
<td>
<a href="../static/discrete2022-pdf/midterm.pdf">Midterm</a><br/>
<a href="../static/discrete2022-pdf/midterm-solutions.pdf">Midterm: Solutions</a>
</td>
<td>2022-02-25</td>
<td>200&permil;</td>
<td>NA</td>
</tr>




{% endblock %}



