{% extends "layout.html" %}

{% block title %}Assignments{% endblock %}

{% block content %}

<h2>Homeworks and Exams (400+400&permil; of the grade)</h2>

<p>Each homework has 6 questions (the last one might be technically
more difficult; it is not mandatory and considered a "bonus question").
Each question can earn up to 10&permil; (1 percent) of the total grade.</p>




<table border="1" cellspacing="0">
<tr><th>Title</th><th>Due Date</th><th>Max</th><th>Average</th></tr>
<tr>
<td><a href="/training/rbs-discretestructures/2022-spring/homeworks/homework01/homework01.pdf">HW1: Propositional Logic</a><br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/training/rbs-discretestructures/2022-spring/homeworks/homework01/homework01-solutions.pdf">HW1: Solutions</a>
</td>
<td>2022-01-13</td>
<td>60&permil;</td>
<td>31.87&permil;</td>
</tr>

<tr>
<td><a href="/training/rbs-discretestructures/2022-spring/homeworks/homework02/homework02.pdf">HW2: Predicate Logic</a><br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/training/rbs-discretestructures/2022-spring/homeworks/homework02/homework02-solutions.pdf">HW2: Solutions</a><br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a style="color:red" href="/training/rbs-discretestructures/2022-spring/homeworks/homework02/discrete-2022spring-homework02-grading-notes.pdf">HW2: Grading Notes</a>
</td>
<td>2022-01-20</td>
<td>60&permil;</td>
<td>25.26&permil;</td>
</tr>

<tr>
<td><a href="/training/rbs-discretestructures/2022-spring/homeworks/homework03/homework03.pdf">HW3: Sets, Relations</a><br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/training/rbs-discretestructures/2022-spring/homeworks/homework03/homework03-solutions.pdf">HW3: Solutions</a>
</td>
<td>2022-02-04</td>
<td>60&permil;</td>
<td>22.70&permil;</td>
</tr>


<tr>
<td><a href="/training/rbs-discretestructures/2022-spring/homeworks/homework04/homework04.pdf">HW4: Number theory</a><br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/training/rbs-discretestructures/2022-spring/homeworks/homework04/homework04-solutions.pdf">HW4: Solutions</a>
</td>
<td>2022-02-12</td>
<td>60&permil;</td>
<td>NA</td>
</tr>

<tr>
<td><a href="/training/rbs-discretestructures/2022-spring/homeworks/homework05/homework05.pdf">HW5: Mathematical Induction</a><br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/training/rbs-discretestructures/2022-spring/homeworks/homework05/homework05-solutions.pdf">HW5: Solutions</a>
</td>
<td>2022-03-03</td>
<td>60&permil;</td>
<td>26.87&permil;</td>
</tr>

<tr>
<td><a href="/training/rbs-discretestructures/2022-spring/homeworks/homework06/homework06.pdf">HW6: Graphs</a><br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/training/rbs-discretestructures/2022-spring/homeworks/homework06/homework06-solutions.pdf">HW6: Solutions</a>
</td>
<td>2022-03-17</td>
<td>60&permil;</td>
<td>NA</td>
</tr>

<tr>
<td><a href="/training/rbs-discretestructures/2022-spring/homeworks/homework07/homework07.pdf">HW7: Counting
<b></b></a><br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/training/rbs-discretestructures/2022-spring/homeworks/homework07/homework07-solutions.pdf">HW7: Solutions</a>
</td>
<td>2022-03-31</td>
<td>60&permil;</td>
<td>28.74&permil;</td>
</tr>

<tr>
<td><a href="/training/rbs-discretestructures/2022-spring/homeworks/homework08/homework08.pdf">HW8: Probabilities</a><br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/training/rbs-discretestructures/2022-spring/homeworks/homework08/homework08-solutions.pdf">HW8: Solutions</a>
</td>
<td>2022-04-11</td>
<td>60&permil;</td>
<td>NA</td>
</tr>
<tr>
<td>
<a href="/training/rbs-discretestructures/2022-spring/quizzes/midterm-quiz.pdf">Midterm (Quiz)</a>
</td>
<td>2022-02-23</td>
<td>40&permil;</td>
<td>21.39&permil;</td>
</tr>

<tr>
<td>
<a href="/training/rbs-discretestructures/2022-spring/midterm/discrete-2022spring-midterm.pdf">Midterm (Written)</a><br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/training/rbs-discretestructures/2022-spring/midterm/discrete-2022spring-midterm-solutions.pdf">Midterm: Solutions</a><br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a style="color:red" href="/training/rbs-discretestructures/2022-spring/midterm/discrete-2022spring-midterm-grading-notes.pdf">Midterm: Grading Notes</a><br/>
</td>
<td>2022-02-25</td>
<td>160&permil;</td>
<td>73.83&permil;</td>
</tr>



<tr>
<td>
<a href="/training/rbs-discretestructures/2022-spring/quizzes/DiscreteStructures-Quiz-Final-solutions.pdf">Final (Quiz)</a>
</td>
<td>2022-04-19</td>
<td>40&permil;</td>
<td>25.57&permil;</td>
</tr>

<tr>
<td>
<a href="/training/rbs-discretestructures/2022-spring/final/discrete-2022spring-final.pdf">Final (Written)</a><br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/training/rbs-discretestructures/2022-spring/final/discrete-2022spring-final-solutions.pdf">Final: Solutions</a><br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a style="color:red" href="/training/rbs-discretestructures/2022-spring/final/discrete-2022spring-final-grading-notes.pdf">Final: Grading Notes</a><br/>
</td>
<td>2022-04-19</td>
<td>160&permil;</td>
<td>51.48&permil;</td>
</tr>

</table>


<h2>Classroom Presentations (200&permil; of the grade)</h2>

<p><a href="http://www.jlazovskis.com/teaching/discretestructures/">Worksheets for the Labs (maintained by Jānis)</a>.</p>

<p>Students present a proof at least four times during the semester;
    they also ask meaningful questions to other presenters (on four different
    presentations). Each presentation and each question is worth 25&permil;.
Problems to be presented can be found in the worksheets (see the link above).</p>

<ul>
    <li>Average number of presentations: 3.57</li>
    <li>Average number of meaningful questions: 3.65</li>
    <li>Average score: 180.43&permil;</li>
</ul>


<h2>Review topics and sample questions</h2>


<div style="font-size:80%">
<ul>
<li><a href="/training/rbs-discretestructures/2022-spring/exams/review-topics-final/review-topics-midterm.pdf">Review Topics for Midterm</a><br/>
<a href="/training/rbs-discretestructures/2022-spring/exams/review-topics-final/review-topics-midterm-solutions.pdf">Review Topics for Midterm (Solutions)</a>
</li>
<li><a href="/training/rbs-discretestructures/2022-spring/proofs/summary-sheet-01-logic-sets-relations.pdf">Summary Sheet #1:
Logic, Sets, Relations</a></li>
<li><a href="/training/rbs-discretestructures/2022-spring/exams/review-topics-final.pdf">Review Topics for Final</a><br/>
<a href="/training/rbs-discretestructures/2022-spring/exams/review-topics-final-solutions.pdf">Review Topics for Final (Solutions)</a>
</li>
<li><a href="/training/rbs-discretestructures/2022-spring/exams/shortlist-final-review/shortlist-final.pdf">Shortlist of Final Training Questions</a><br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/training/rbs-discretestructures/2022-spring/exams/shortlist-final-review/shortlist-final-solutions.pdf">Shortlist of Final Training Questions (Solutions)</a><br/>
</li>
</ul>
</div>


<h2><a name="COMPREHENSIVE_EXAM">Comprehensive Exam (Bonus Material)</a></h2>

<p>This is NOT the part of Discrete Spring2022 course. It outlines
    the place of this course in a larger picture, study quality and
    the retention of knowledge later in life.</p>

<p>"Discrete Structures" (in addition to being a study course)
    serves as a prerequisite to many subsequent courses.
    If there are any IT students who need to refresh this material,
    look at the "Review Topics" section above.
    Prolonged interruptions in someone's study process, being uncertain
    about the Persistence of Memory (<i>La persistencia de la memoria</i>),
    changing the study major from some non-IT subject or
    participating in exchange programs such as ERASMUS - all these
    things may cause gaps in your knowledge and you may benefit if you address them.
    Ideally we would offer the IT people a "Comprehensive Exam"
    to allow some self-assessment and to find out all major gaps.
    Such exam has not been implemented yet. Similar goals can be achieved
    by the Computer Science part of GRE (Graduate Record Examination)
    offered to the students who do some post-graduate studies after earning their Bachelor's degree.</p>

<p>Keep in mind that "Discrete Structures"
has the theory topics overlapping with other branches of mathematics and
other study topics. They are interdisciplinary and may require related
    knowledge from other courses. Below are some examples in no particular order:</p>

<table border="1" cellspacing="0">
    <tr><th>Topic in Discrete Structures</th><th>Similar topic in some other subject</th></tr>
    <tr>
        <td>Asymptotic Bounds, Big-O notation</td>
        <td>Limits and comparisons among infinite large functions in Real Analysis or Calculus</td>
    </tr>
    <tr>
        <td>Algorithmic procedures in number theory or graphs.</td>
        <td>Algorithm efficiency in Data Structures and Algorithms.</td>
    </tr>
    <tr>
        <td>Binary relations</td>
        <td>Overriding comparisons, equality and other operators when using
        data structure libraries for storage or sorting the data.</td>
    </tr>
    <tr>
        <td>Binary trees, Full n-ary trees</td>
        <td>Binary search trees, heaps etc. in Data Structures and Algorithms</td>
    </tr>
    <tr>
        <td>Modular Arithmetic, congruences</td>
        <td>Hashing functions in Data Structures and Algorithms;
            checksums and error protection in Computer Networks</td>
    </tr>
    <tr>
        <td>Euler theorem, discrete logarithms</td>
        <td>RSA and Diffie Hellman public key methods in Cryptography</td>
    </tr>
    <tr>
        <td>Graphs and trees</td>
        <td>Document object models and layouts in Visualization classes</td>
    </tr>
    <tr>
        <td>Random variables, expected value, variance</td>
        <td>Summarizing data in Descriptive Statistics</td>
    </tr>
    <tr>
        <td>Event probabilities, conditional probabilities</td>
        <td>Risk management topics in Economics and Quantitative Decision Making</td>
    </tr>
    <tr>
        <td>Deduction in Boolean and Predicate Logic</td>
        <td>Functional and Type-oriented Programming</td>
    </tr>
</table>

<p>A good comprehensive exam would take into account such
    cases when there is an interplay between multiple subjects, and it is possible
    to ask useful (and not too technically difficult)
    questions involving different knowledge realms.</p>



{% endblock %}



