{% extends "layout.html" %}

{% block title %}Assignments{% endblock %}

{% block content %}

<h2>Homeworks and Exams (400+400&permil; of the grade)</h2>

<p>Each homework has 6 questions (the last one might be technically
more difficult; it is not mandatory and considered a "bonus question").
Each question can earn up to 10&permil; (1 percent) of the total grade.</p>




<table border="1" cellspacing="0">
<tr><th>Title</th><th>Due Date</th><th>Max</th><th>Average</th></tr>
<tr>
<td><a href="/training/discrete-2022-spring/homework01.pdf">HW1: Propositional Logic</a><br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/training/discrete-2022-spring/homework01-solutions.pdf">HW1: Solutions</a>
</td>
<td>2022-01-13</td>
<td>60&permil;</td>
<td>NA</td>
</tr>

<tr>
<td><a href="/training/discrete-2022-spring/homework02.pdf">HW2: Predicate Logic</a><br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/training/discrete-2022-spring/homework02-solutions.pdf">HW2: Solutions</a>
</td>
<td>2022-01-20</td>
<td>60&permil;</td>
<td>NA</td>
</tr>

<tr>
<td><a href="/training/discrete-2022-spring/homework03.pdf">HW3: Sets, Relations</a><br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/training/discrete-2022-spring/homework03-solutions.pdf">HW3: Solutions</a>
</td>
<td>2022-02-04</td>
<td>60&permil;</td>
<td>NA</td>
</tr>


<tr>
<td><a href="/training/discrete-2022-spring/homework04.pdf">HW4: Number theory</a><br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/training/discrete-2022-spring/homework04-solutions.pdf">HW4: Solutions</a>
</td>
<td>2022-02-12</td>
<td>60&permil;</td>
<td>NA</td>
</tr>

<tr>
<td><a href="/training/discrete-2022-spring/homework05.pdf">HW5: Mathematical Induction</a><br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/training/discrete-2022-spring/homework05-solutions.pdf">HW5: Solutions</a>
</td>
<td>2022-03-03</td>
<td>60&permil;</td>
<td>NA</td>
</tr>

<tr>
<td><a href="/training/discrete-2022-spring/homework06.pdf">HW6: Graphs</a><br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/training/discrete-2022-spring/homework06-solutions.pdf">HW6: Solutions</a>
</td>
<td>2022-03-17</td>
<td>60&permil;</td>
<td>NA</td>
</tr>

<tr>
<td><a href="/training/discrete-2022-spring/homework07.pdf">HW7: Counting
<b></b></a><br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/training/discrete-2022-spring/homework07-solutions.pdf">HW7: Solutions</a>
</td>
<td>2022-03-31</td>
<td>60&permil;</td>
<td>NA</td>
</tr>

<tr>
<td><a href="/training/discrete-2022-spring/homework08.pdf">HW8: Probabilities</a><br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/training/discrete-2022-spring/homework08-solutions.pdf">HW8: Solutions</a>
</td>
<td>2022-04-11</td>
<td>60&permil;</td>
<td>NA</td>
</tr>
<tr>
<td>
<a href="/training/discrete-2022-spring/midterm-quiz.pdf">Midterm (Quiz)</a>
</td>
<td>2022-02-23</td>
<td>40&permil;</td>
<td>NA</td>
</tr>

<tr>
<td>
<a href="/training/discrete-2022-spring/midterm.pdf">Midterm (Written)</a><br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/training/discrete-2022-spring/midterm-solutions.pdf">Midterm: Solutions</a>
</td>
<td>2022-02-25</td>
<td>160&permil;</td>
<td>NA</td>
</tr>



<tr>
<td>
<a href="/training/discrete-2022-spring/DiscreteStructures-Quiz-Final-solutions.pdf">Final (Quiz)</a>
</td>
<td>2022-04-19</td>
<td>40&permil;</td>
<td>NA</td>
</tr>

<tr>
<td>
<a href="/training/discrete-2022-spring/discrete-2022spring-final.pdf">Final (Written)</a><br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/training/discrete-2022-spring/discrete-2022spring-final-solutions.pdf">Final: Solutions</a><br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/training/discrete-2022-spring/discrete-2022spring-final-grading-notes.pdf">Final: Grading Notes</a><br/>
</td>
<td>2022-04-19</td>
<td>160&permil;</td>
<td>NA</td>
</tr>

</table>



<h2>Review topics and sample questions</h2>





<div style="font-size:80%">
<ul>
<li><a href="/training/discrete-2022-spring/review-topics-midterm.pdf">Review Topics for Midterm</a><br/>
<a href="/training/discrete-2022-spring/review-topics-midterm-solutions.pdf">Review Topics for Midterm (Solutions)</a>
</li>
<li><a href="/training/discrete-2022-spring/summary-sheet-01-logic-sets-relations.pdf">Summary Sheet #1:
Logic, Sets, Relations</a></li>
<li><a href="/training/discrete-2022-spring/review-topics-final.pdf">Review Topics for Final</a><br/>
<a href="/training/discrete-2022-spring/review-topics-final-solutions.pdf">Review Topics for Final (Solutions)</a>
</li>
<li><a href="/training/discrete-2022-spring/shortlist-final.pdf">Shortlist of Final Training Questions</a><br/>
    <a href="/training/discrete-2022-spring/shortlist-final-solutions.pdf">Shortlist of Final Training Questions (Solutions)</a><br/>
</li>
</ul>
</div>


<h2><a name="COMPREHENSIVE_EXAM">Comprehensive Exam</a></h2>

<p>To assess the knowledge of somebody in "Discrete Mathematics"
    we can provide a list of topics for self-learning.
    Eventually this could serve as the curriculum for
    a comprehensive written exam covering all major topics, but such exams have not been implemented yet.
    "Discrete Structures" is the prerequisite to many subsequent classes.
    The target audience are students who needs to refresh this material, do some remedial work on it,
    has changed his/her major (previously studied non-IT topics),
    has changed universities (due to an exchange program such as ERASMUS).
    Ideally we would offer such people a "Comprehensive Exam"
    to check their knowledge and to find out all major gaps.</p>

<p>Comprehensive exam offers a compact list of topics (See "Shortlist of Final Training Questions" above)
that cover the most important things only. As we develop this "Shortlist", it
    may become more interdisciplinary to include related IT topics. Such as
    Calculus (for Big-O calculations), Visualizations (graphs and trees, but also other
    discrete math topics), Algorithms (in Number Theory),
    Introductory Cryptography (in Number Theory),
    Statistics (as it is related to the Probabilities covered in this class),
    Functional languages and automating proofs (in Propositional and Predicate Logic),
    Data Structures (in sets and relations subtopic).</p>







{% endblock %}



