{% extends "layout.html" %}

{% block title %}Presentations{% endblock %}

{% block content %}

<h2>Classroom Presentations (200&permil; of the grade)</h2>

<p><a href="http://www.jlazovskis.com/teaching/discretestructures/">Worksheets for the Labs (maintained by Jānis)</a>.</p>

<p>Students present a proof at least four times during the semester;
    they also ask meaningful questions to other presenters (on four different
    presentations). The presenter should answer questions asked by the instructor and other students.
    Students sign up by adding a comment to a time slot in a spreadsheet and a cell is filled in
    once the presentation (or a question) takes place.
    Those who did not have a meaningful question can move their comment
    to another slot in the spreadsheet. </p>

<p>To get credit one does not necessarily need to present a correct proof right away,
    but should put the effort to fix mistakes and address the objections and questions by others.
    Worksheets typically end with the problems offered to be presented.
    Each presentation lasts around 3 minutes plus some discussion time.</p>

<p>Asking the questions
    can clarify things we do not understand, they help to see the same concepts
    from a different perspective.
    Asking meaningful questions about proofs requires some skill, so below are some prompts.
    The goal is to get a conversation going: When the presenter answers,
    the person asking should respond confirming their understanding or asking a follow-up question.
    These prompts are just suggestions; there are many types of useful questions.</p>

    <ul>
        <li>Why did you ... ? I thought that ....</li>
        <li>You wrote .... How do we come up with such an idea in this proof?</li>
        <li>Can you please explain how ... was obtained from ...?</li>
        <li>Could you, please, explain ... more intuitively?</li>
        <li>Is this similar to (different from)...? Why?</li>
        <li>How do we know that your proof is correct. Is there a way to check it? Or to see it at the first glance?</li>
        <li></li>
    </ul>


<p>FYI: More proof-related problems.</p>

<ul>
<li><a href="/training/rbs-discretestructures/2022-spring/proofs-week01.pdf">
Proofs 1: Proof Methods</a></li>
<li><a href="/training/rbs-discretestructures/2022-spring/proofs-week02.pdf">
Proofs 2: Formalized Proofs</a></li>
<li><a href="/training/rbs-discretestructures/2022-spring/proofs-week03.pdf">
Proofs 3: Number Sets</a></li>
<li><a href="/training/rbs-discretestructures/2022-spring/proofs-week04.pdf">
Proofs 4: Sets and Functions</a></li>
<li><a href="/training/rbs-discretestructures/2022-spring/proofs-week05.pdf">
Proofs 5: Modular Arithmetic, Divisibility</a></li>
</ul>




{% endblock %}

