{% extends "layout.html" %}

{% block title %}Quizzes{% endblock %}

{% block content %}

<h2>Quizzes</h2>

<p>Quizzes were used to provide some instant feedback
    activity during the lectures. The tests were done in Socrative - it allows to
    fill in the tests using mobile devices as well. Most of the test questions were
    multiple choice; some were also short answers (positive integers and such).</p>

<p>Most quizzes did not affect the grade (about 3 questions for each theory topic) -
    but the answer was evaluated immediately after submitting each question.
    Midterms and finals were accompanied by longer quizzes. They were worth
    4 percents of the total grade each. Meanwhile, the essay part of
    the midterm and the final were 16% each.</p>




<table border="1" cellspacing="0">
<tr><th>Title</th><th>Due Date</th><th>Max</th><th>Average</th></tr>
<tr>
<td>
<a href="/training/rbs-discretestructures/2022-spring/midterm-quiz.pdf">Midterm (Quiz, Solutions)</a>
</td>
<td>2022-02-23</td>
<td>40&permil;</td>
<td>NA</td>
</tr>


<tr>
<td>
<a href="/training/rbs-discretestructures/2022-spring/DiscreteStructures-Quiz-Final-solutions.pdf">Final (Quiz, Solutions)</a>
</td>
<td>2022-04-19</td>
<td>40&permil;</td>
<td>NA</td>
</tr>
</table>


<p>To prepare for the quizzes we publish sample questions (most of them were
also offered during the lectures).</p>

<ul>
<li><a href="/training/rbs-discretestructures/2022-spring/discretestructures-sample-quizzes-part1.pdf">Quizzes during Lectures, Part 1</a></li>
<li><a href="/training/rbs-discretestructures/2022-spring/discretestructures-sample-quizzes-part2.pdf">
Quizzes during Lectures, Part 2</a></li>
</ul>


</div>




{% endblock %}



