<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


<link rel="stylesheet" type="text/css" href="../style/style.css"/>
<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
  <![endif]-->
<style>
i { 
  font-size:85%; 
}
table.colornavigation a { 
  text-decoration: underline !important; 
}

.tltip {
  position: relative;
  display: inline-block;
  font-style: italic;
  font-size:80%;
  color: #2B547E;
  border-bottom: 1px dotted black;
}

/* Tooltip text */
.tltip .tltiptext {
  visibility: hidden;
  width: 300px;
  background-color: #ffffcc;
  font-style: normal;
  color: black;
  padding: 5px;
  border-radius: 4px; 
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tltip:hover .tltiptext {
  visibility: visible;
}
</style>
</head>


<body>
<h1>Discrete 2021: Topics</h1>

<table border="0" cellspacing="2" class="colornavigation">
<tr style="font-size:120%">
<td style="background-color:#de6745;color:white;padding:2px 10px 2px 10px"><b>Topics</b></td>
<td style="background-color:#f1a72c;color:white;padding:2px 10px 2px 10px"><a style="color:white" href="assignments.html">Assignments</a></td>
<td style="background-color:#40ce7c;color:white;padding:2px 10px 2px 10px"><a style="color:white" href="coq.html">Coq</a></td>
<td style="background-color:#4ca7dc;color:white;padding:2px 10px 2px 10px"><a style="color:white" href="summaries.html">Summaries</a></td>
<td style="background-color:#6966cc;color:white;padding:2px 10px 2px 10px"><a style="color:white" href="presentations.html">Presentations</a></td>
<td style="background-color:#9e69af;color:white;padding:2px 10px 2px 10px"><a style="color:white" href="sources.html">Sources</a></td>
<td>
<select ONCHANGE="location = this.options[this.selectedIndex].value;">
{% for item in nav_items %}
{% if item.subdir == course %}
    <option value="../{{item.subdir}}/index.html" selected="selected">{{item.title}}</option>
{% else %}
    <option value="../{{item.subdir}}/index.html">{{item.title}}</option> 
{% endif %}
{% endfor %}
</select>

</td>
</tr>
</table>

<h2>Course Datasheet</h2>

<p style="margin-top:5px"><small>
<b>Semester:</b> Spring 2021<br/>
<b>Syllabus:</b> <a href="../discrete-bin/discrete-structures-spring-2020.docx">[MS DOCX]</a><br/>
<b>Course Code:</b> PBM 763 (for Course Search in ORTUS)<br/>
<b>Creditpoints:</b> TBD<br/>
<b>Course Home:</b> <a href="https://www.bitl.lv/diskretas_sistemas/">BITL.LV</a>
</small></p>

<!--
YouTube video with start and end params (may be useful later:
https://www.youtube.com/embed/h_8smKNoAAw?start=2285&end=2300&autoplay=1
-->

<h2>Topics and Objectives</h2>



<p>Please read the relevant subchapters from the textbook (see below).<br/>
The link to the textbook (Kenneth Rosen. Discrete Mathematics, 2019) is in ORTUS.<br/>
See also 
the <a href="https://www.youtube.com/playlist?list=PLl-gb0E4MII28GykmtuBXNUNoej-vY5Rz">Playlist </a> below are by
<a href="https://www.bellevue.edu/about/leadership/faculty/brehm-kimberly">Kimberly Brehm</a>.</p> 




<div class="panel-group" id="accordion">

{% for item in indexItems %}
<div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title">
<a data-toggle="collapse" 
data-parent="#accordion" href="#collapse{{item.itemNum}}">Week {{item.itemNum}}: {{item.title}}</a>
</h4>
</div>
<div id="collapse{{item.itemNum}}" class="panel-collapse collapse">
<div class="panel-body">
{{item.description}}
{% for link in item.links %}
{% if link.topic %}
<h2 style="font-size:120%; margin:2px;color:#2B65EC;text-decoration: underline;">{{link.topic}} {{link.title}}</h2> 
{% else %}
<b>{{link.id}} {{link.title}}</b> 
<span class="tltip">Description <img style="vertical-align: middle;" 
src="../static/blue_question_mark.png" width="12px"/>
<span class="tltiptext">{{link.description}}</span>
</span><br/>
{% if link.readings or link.videos %}
{% if link.readings %}
{% for reading in link.readings %}
{% if reading.ref == "(Goodrich2011)" %}
<a class="tltip" href="https://estudijas.rtu.lv/mod/lti/view.php?id=1283781">{{reading.ref}}<span 
class="tltiptext">{{reading.url}}: {{reading.title}}</span></a>
{% else %}
<a class="tltip" href="{{reading.url}}">{{reading.ref}}<span class="tltiptext">{{reading.title}}</span></a>
{% endif %}
{% endfor %}
{% endif %}
{% if link.videos %}
&nbsp;<img style="vertical-align: middle;" 
src="../static/video_icon.png" width="20px"/>
{% for video in link.videos %}
<a class="tltip" href="{{video.url}}">{{video.ref}}<span class="tltiptext">{{video.title}}</span></a>
{% endfor %}
{% endif %}
<br/> {% endif %}
{% for task in link.tasks %}
{{link.id}}.{{loop.index}}. {{task.title}} 
{% if task.description == 'NA' %} {% else %} 
<br/><span style="font-size:80%;">{{task.description}}</span>
{% endif %}
{% if task.subtasks or task.examples or task.maths %}
<ol type="a" style="margin-top: 0px; margin-bottom: 0px; font-size:80%">
{% for subtask in task.maths %}
<li style="color:#B00000;">{{subtask.title}}</li> 
{% endfor %}
{% for subtask in task.subtasks %}
<li style="color:black;">{{subtask.title}}</li>
{% endfor %}
{% for subtask in task.examples %}
<li style="color:blue">{{subtask.title}}</li>
{% endfor %}
</ol>
{% else %} <br/>
{% endif %}
{% endfor %}
{% endif %}  <!-- link.topic -->
{% endfor %}
<!--
<b>Objectives</b><br/>
<ul>
{% for objective in item.objectives %}
<li style="margin-top:0px; margin-bottom:0px; font-size:80%;background-color:#ffffee;">{{objective}}</li>
{% endfor %}
</ul>
-->
</div>
</div>
</div>
{% endfor %}

</div>


</body>
</html>

