<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


<link rel="stylesheet" type="text/css" href="../style/style.css"/>
<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
  <![endif]-->
<style>
i { 
  font-size:85%; 
}
table.colornavigation a { 
  text-decoration: underline !important; 
}
</style>
</head>


<body>
<h1>Data Structures: Home</h1>

<table border="0" cellspacing="2">
<tr style="font-size:120%">
<td style="background-color:#de6745;color:white;padding:2px 10px 2px 10px"><b>Topics</b></td>
<td style="background-color:#f1a72c;color:white;padding:2px 10px 2px 10px"><a style="color:white" href="assignments.html">Assignments</a></td>
<td style="background-color:#40ce7c;color:white;padding:2px 10px 2px 10px"><a style="color:white" href="slides.html">Slides</a></td>
<td style="background-color:#4ca7dc;color:white;padding:2px 10px 2px 10px"><a style="color:white" href="algorithms.html">Algorithms</a></td>
<td style="background-color:#9e69af;color:white;padding:2px 10px 2px 10px"><a style="color:white" href="references.html">References</a></td>
<td>
<select ONCHANGE="location = this.options[this.selectedIndex].value;">
{% for item in nav_items %}
{% if item.subdir == course %}
    <option value="../{{item.subdir}}/index.html" selected="selected">{{item.title}}</option>
{% else %}
    <option value="../{{item.subdir}}/index.html">{{item.title}}</option> 
{% endif %}
{% endfor %}
</select>
</td>
</tr>
</table>

<p>The objectives of this course can be separated into a few big categories:</p>
 
<ol type="1">
<li>Use C++ and OO to implement basic algorithms</li>
<li>Convert user stories into ADTs, use standard libraries.</li> 
<li>Analyze the implementation alternatives of some data structures.</li>
<li>Introduce general paradigms of algorithms.</li> 
</ol>

<p>Here are the topics in a greater detail:</p>



<div class="panel-group" id="accordion">

{% for item in jsonTopics %}
<div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title">
<a data-toggle="collapse" 
data-parent="#accordion" href="#collapse{{item.itemNum}}">Week {{item.itemNum}}: {{item.title}}</a>
</h4>
</div>
<div id="collapse{{item.itemNum}}" class="panel-collapse collapse">
<div class="panel-body">
{{item.description}}
<p>
{% for link in item.links %}
<b>{{link.id}} {{link.title}}</b><br/>

{% if link.reading != 'NA' %}
<i>({{link.reading}})</i>.<br/>
{% endif %}
{% if link.video|length == 1 %}
{% for vid in link.video %}
{% if vid != 'NA' %}
<i><a href={{vid}}>Video{{link.id}}</a></i>.<br/>
{% endif %}
{% endfor %}
{% else %}
{% for vid in link.video %}
<i><a href={{vid}}>Video{{link.id}}.{{abc[loop.index]}}</a></i>.
{% endfor %} <br/>
{% endif %} 
{% for task in link.task %}
{{link.id}}.{{abc[loop.index]}}. {{task}}<br/>
{% endfor %}
{% endfor %}
<p>
</div>
</div>
</div>
{% endfor %}

</div>



</body>
</html>

