{% extends "layout_topics.html" %}

{% block title %}Home{% endblock %}

{% block before_accordion %}

<!--
<p>The objectives of this course can be separated into a few big categories:</p>
<ol type="1">
<li>Use C++ and OO to implement basic algorithms</li>
<li>Convert user stories into ADTs, use standard libraries.</li> 
<li>Analyze the implementation alternatives of some data structures.</li>
<li>Introduce general paradigms of algorithms.</li> 
</ol>
<p>Here are the topics in a greater detail:</p>
-->

<p><b>Data Structures Fall2020 (PBM763) Syllabus:</b>
<a href="../data-structures-bin/data-structures-algorithms-fall-2020.docx">Fall 2020</a>.<br/>

<p>Find the list of topics for every week:</b> Concepts,  
<span style="color:blue">Exercises</span>, <span style="color:green">Coding</span>.</p>

<p><b>Disclaimer:</b> All the external links to readings and videos only point to task/topic scope; 
their purpose is illustrative. They should NOT be considered assignments or part of the class.</p>
{% endblock %}


