<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


<link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">


<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
  <![endif]-->
<style>
h2 {
  color: #990000;
}
dt {
  font-weight: bold;
}


i { 
  font-size:85%; 
}
table.colornavigation a { 
  text-decoration: underline !important; 
}

.tltip {
  position: relative;
  display: inline-block;
  font-style: italic;
  font-size:80%;
  color: #2B547E;
  border-bottom: 1px dotted black;
}

/* Tooltip text */
.tltip .tltiptext {
  visibility: hidden;
  width: 300px;
  background-color: #ffffcc;
  font-style: normal;
  color: black;
  padding: 5px;
  border-radius: 4px; 
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tltip:hover .tltiptext {
  visibility: visible;
}
</style>
</head>




<body>


<h1>Data Structures Fall2020: Code Submissions</h1>

<table border="0" cellspacing="2">
<tr style="font-size:120%">
<td style="background-color:#de6745;color:white;padding:2px 10px 2px 10px"><a style="color:white" href="index">Topics</a></td>
<td style="background-color:#f1a72c;color:white;padding:2px 10px 2px 10px"><a style="color:white" href="assignments">Assignments</a></td>
<td style="background-color:#40ce7c;color:white;padding:2px 10px 2px 10px"><a style="color:white" href="slides">Slides</a></td>
<td style="background-color:#4ca7dc;color:white;padding:2px 10px 2px 10px"><a style="color:white" href="algorithms">Algorithms</a></td>
<td style="background-color:#9e69af;color:white;padding:2px 10px 2px 10px"><b>Code Submissions</b></td>
<td>
<select ONCHANGE="location = this.options[this.selectedIndex].value;">
{% for item in nav_items %}
{% if item.subdir == course %}
    <option value="../{{item.subdir}}/index" selected="selected">{{item.title}}</option>
{% else %}
    <option value="../{{item.subdir}}/index">{{item.title}}</option> 
{% endif %}
{% endfor %}
</select>
</td>
</tr>
</table>




<h2><a name="exercises"></a>Grading Weights (20+20+20+30+30+30+100+100+150=500)</h2>

<ul>
<li><b>EX01:</b> 2 points, if builds as expected with g++; 6 testcases, 3 points each;  (max total 20 points)</li>
<li><b>EX02:</b> 2 points, if builds as expected with g++; 6 testcases, 3 points each;  (max total 20 points)</li>
<li><b>EX03:</b> 10 testcases, 2 points each; (max total 20 points)</li>
<li><b>EX04:</b> 10 testcases, 3 points each; (max total 30 points)</li>
<li><b>EX05:</b> 6 testcases, 5 points each; (max total 30 points)</li>
<li><b>EX06:</b> 15 testcases, 2 points each, if the SVG image did match; (max total 30 points)</li>
<li><b>EX07:</b> 13 testcases, 8 points each; (max total 100 points, not 104 points)</li>
<li><b>EX08:</b> 10 testcases, 10 points each; (max total 100 points)</li>
<li><b>EX09:</b> Just one grade (max 150 points)</li> 
</ul>

<p><a href="http://18.193.16.199/training/data-structures/workspace-kalvis.zip">Download all testcases</a></p>

<p>Unzip the directory "workspace-kalvis" so that it located in the same subdirectory as your own workspace. 
Copy the <tt>ex03-alice/grading-default.sh</tt> or a similar grading file into your EX03 directory; 
make the script executable ("chmod u+x grading-default.sh") and run it. 
If your code needs other compiler options in order to run (and some tests failed 
because of this grading approach), please let me know by January 4, 2021.
Every exercise has a different default grading script. (EX06 does not check your output 
file with the expected SVG file with <tt>diff</tt>; instead you can just visually compare the images - 
your SVG should show the same thing as the expected result.)
</p>

<div class="panel-group" id="accordion">

{% for gradingItem in gradingStuff %}
<div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title">
<a data-toggle="collapse" 
data-parent="#accordion" href="#collapse{{gradingItem.label}}">Exercise {{gradingItem.title}}</a>
</h4>
</div>
<div id="collapse{{gradingItem.label}}" class="panel-collapse collapse">
<div class="panel-body">
<ul>
{% for testItem in gradingItem.testItems %}
{% if testItem.type != "ignored" and testItem.type != "hidden" %}
<li><b>{{testItem.label}}</b> 
{% if testItem.type != "nonfunctional" %} 
<a href="http://18.193.16.199/training/data-structures/{{gradingItem.subdir}}/testcases/{{testItem.fname}}">in</a>/<a href="http://18.193.16.199/training/data-structures/{{gradingItem.subdir}}/testcases/{{testItem.expected}}">out</a>
{% endif %} 
({{testItem.type}}): {{testItem.title}}</li>
{% elif testItem.type == "ignored" and testItem.type != "hidden" %}
<li style="text-decoration: line-through;"><b>{{testItem.label}}</b> <a href="http://18.193.16.199/training/data-structures/{{gradingItem.subdir}}/testcases/{{testItem.fname}}">in</a>/<a href="http://18.193.16.199/training/data-structures/{{gradingItem.subdir}}/testcases/{{testItem.expected}}">out</a> 
({{testItem.type}}): {{testItem.title}}</li>
{% endif %}
{% endfor %}
</ul>
<table border="1" class="grades">
<tr>
<th>ID</th>
{% for testItem in gradingItem.testItems %}
{% if testItem.type != "ignored" %}
<th>{{testItem.label}}</th>
{% endif %}
{% endfor %}
<th>Total</th>
<th>Notes</th>
</tr>
{% for student in gradingItem.students %}
<tr>
{% if student.notes != "Version control issue" and student.notes != "not found in GitHub" %}
<td style="padding: 0px 6px 0px 6px;"><a href="http://18.193.16.199/training/data-structures/{{gradingItem.subdir}}/grades/{{student.studID}}-output.txt">{{student.studID}}</a></td>
{% else %}
<td style="padding: 0px 6px 0px 6px;">{{student.studID}}</td>
{% endif %}
{% for gg in student.grades %}<td style="text-align: center;">{{gg}}</td>{% endfor %}
<td style="background-color:#cccccc;text-align: center;">{{student.total}}</td>
<td style="text-align: left; padding: 0px 6px 0px 6px">{{student.notes}}</td>
</tr>
{% endfor %}
</table>
</div>
</div>
</div>
{% endfor %}



</div>










<!--
<h2>Appendix: The C++ Environments</h2>

<p>The preparation labs are sets of instructions defining the suggested
configurations to run coding exercises and programming projects.
By themselves they are not graded, but going through these steps is highly recommended
(and you can also suggest improvements, if the same thing can be done better).</p>

<dl>

<dt>PLAB2: Build a C++ Project using Makefile</dt>
<dd>Compilation and linking options. Build variables and variable paths.<br/> 
<small><b>Why do we care?</b> Grading server runs Makefile from Jenkins. 
To be sure that our project can run from the command-line, we can use the same Makefile.</small></dd>

<dt>PLAB4: Use logging and IDE debugger</dt>
<dd>Apply "spdlog" library to create searchable logfiles. 
Use the debugger in Visual Studio or other IDE.<br/>
<small><b>Why do we care?</b> Debugger is just one way to fix errors, sometimes
it is the best choice to understand what is going on.</small></dd>
<dt>PLAB5: Build a tiny package for R</dt>
<dd>Compile and use a C++ extension to R.<br/>
<small><b>Why do we care?</b> 
Sometimes algorithms in C++ are extending other development platforms to make them more efficient.
R/RStudio is normally used for interdisciplinary 
and business applications, reporting and data visualizations.</small></dd>
</dl>
-->




<hr width="50%"/>

<h3><a name="basics"></a>C++ Basics</h3>

<ul>
<li><a href="https://code.visualstudio.com/docs/languages/cpp">Visual Studio Code</a> with 
<a href="https://code.visualstudio.com/docs/cpp/config-msvc">Microsoft Visual C++ compiler</a></li>
<li><a href="http://geosoft.no/development/cppstyle.html">C++ Programming Style Guidelines</a></li>
<li><a href="http://www.gnu.org/software/make/manual/make.html">Gnu Makefile tutorial</a></li>
</ul>
  
<ul>
<li><a href="https://bit.ly/3dMosyY">Organizing code files in C and C++</a></li>
<li><a href="https://bit.ly/2VqvLpq">C++ FAQ Lite</a></li>
<li><a href="http://en.cppreference.com/w/cpp">C++ reference</a></li>
<li><a href="http://www.cplusplus.com/reference/">Another C++ reference</a></li>
<li><a href="http://www.ibiblio.org/pub/docs/books/eckel/TICPP-2nd-ed-Vol-one.zip">Thinking in C++</a> (Bruce Eckel's free book, vol 1)</li>
<li><a href="http://www.ibiblio.org/pub/docs/books/eckel/TICPP-2nd-ed-Vol-two.zip">Thinking in C++</a> (Bruce Eckel's free book, vol 2)</li>
<li><a href="http://www.newty.de/fpt/">The function pointer tutorial</a>
<li><a href="https://www.stroustrup.com/PPPslides/lecture-slides.html">Stroustrup's slides for his programming course</a>
</ul>


<h3><a name="key_inspirations"></a>Sources from SUNY Buffalo, MIT etc.</h3>

<ul>
<li><a href="https://en.cppreference.com/w/cpp">CPP Reference</a></li>
<li><a href="https://cse.buffalo.edu/~hungngo/classes/2013/Fall/250/syllabus.html">CSE 250 by Hung Q. Ngo</a></li>
<li><a href="https://cse.buffalo.edu/faculty/adrienne/SP2009/cse250/">An older CSE 250 course</a></li>
<li><a href="https://cse.buffalo.edu/~hartloff/CSE250-Fall2015/index.html">A newer CSE 250 course</a></li>
<li><a href="../data-structures-bin/original-syllabus.pdf">Original Syllabus</a> (The syllabus used during 
the original accreditation of the study program; later was expanded into more detail.)</li>
<li><a href="https://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-042j-mathematics-for-computer-science-fall-2010/index.htm">MIT
Mathematics for Computer Science course</a></li>
<li><a href="https://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-006-introduction-to-algorithms-fall-2011/index.htm">MIT
6.006: Introduction to Algorithms course</a></li>
<li><a href="https://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-046j-design-and-analysis-of-algorithms-spring-2015/">MIT
Design and Analysis of Algorithms</a></li>
</ul>  




<b><a name="cpp11"></a>C++ Style</b>

<ul>
  <li><a href="http://herbsutter.com/elements-of-modern-c-style/">Elements of Modern C++ Style</a> (Sutter's Mill)</li>
  <li><a href="http://google-styleguide.googlecode.com/svn/trunk/cppguide.xml">Google C++ style guide</a></li>
  <li><a href="https://code.google.com/p/gperftools/source/browse/#git%2Fsrc">gperftools</a>
  from Google, conforming to Google's style guide. More specifically: 
  <a href="https://code.google.com/p/gperftools/source/browse/src/heap-profile-table.cc">heap-profile-table.cc</a>
  and <a href="https://code.google.com/p/gperftools/source/browse/src/heap-profile-table.h">heap-profile-table.h</a>
  </li>
  <li><a href="http://www.boost.org/doc/libs/1_51_0/boost/">Boost library 15.1</a>. In particular, 
  <a href="http://www.boost.org/doc/libs/1_51_0/boost/circular_buffer/base.hpp">circular buffer</a>.
  </li>
</ul>


<small>
<b><a name="editors"></a>Editors</b>

<ul>
  <li><a href="http://blog.interlinked.org/tutorials/vim_tutorial.html">vim
  tutorial</a>; vim's <a href="http://vim.wikia.com/wiki/C++_code_completion">C++ code
  completion tags</a></li>
  <li><a href="http://www2.lib.uchicago.edu/keith/tcl-course/emacs-tutorial.html">Emacs tutorial</a></li>
  <li><a href="http://notepad-plus-plus.org/">Notepad++</a></li>
  <li><a href="http://www.eclipse.org/">Eclipse</a></li>
  <li><a href="http://en.wikipedia.org/wiki/Pico_(text_editor)">pico</a></li>
  <li><a href="http://www.nano-editor.org/">nano</a></li>
  <li><a href="https://projects.gnome.org/gedit/">gedit</a></li>
</ul>

<b><a name="unix"></a>Unix/Linux, Git</b>

<ul>
<li><a href="http://matt.might.net/articles/basic-unix/">A survival guide to Unix newbie</a></li>
<li><a href="http://matt.might.net/articles/settling-into-unix/">Settling into Unix</a></li>
<li><a href="https://git-scm.com/book/en/v2/Git-Branching-Basic-Branching-and-Merging">Git Branches</a></li>
<li>
</ul>

<b><a name="memory"></a>Memory</b>

<ul>
  <li><a href="http://www.akkadia.org/drepper/cpumemory.pdf">What every
  programming should know about memory</a></li>
  <li><a href="https://techtalk.intersec.com/2013/07/memory-part-1-memory-types/">Memory
  part 1: virtual memory, swap, pages,</a></li>
  <li><a href="https://techtalk.intersec.com/2013/07/memory-part-2-understanding-process-memory/">Memory
  part 2: Process memory</a></li>
  <li><a href="https://techtalk.intersec.com/2013/08/memory-part-3-managing-memory/">Memory
  part 3: Allocating memory</a></li>
</ul>



<!--
<b>Other</b>

<ul>
<li><a href="https://bit.ly/3d4zvTG">Fibonacci Heaps</a></li>
<li><a href="https://youtu.be/nubC3dktQ24">Alma Deutscher and Tobias Cramm: Partimento 
(18th century improvization and training technique for young composers)</a></li>
</ul>
-->

<small>



</body>
</html>

